---
notes: |
  The `badges` components are based on Bootstrap's label classes combined with our own customizations. In Bootstrap version 4, `badges` are replaced with `labels`.

  You can find documentation on <a href="https://v4-alpha.getbootstrap.com/components/label/" target="_blank">Bootstrap's label components</a> on their site.
---

<section class="f-section">
	<h3 class="f-example-title">Outline</h3>
	<div class="f-example">
		<h3>Heading Three <span class="ds-label ds-label-outline">10</span></h3>
	</div>
	{{example 'badge.outline'}}
</section>

<section class="f-section">
	<h3 class="f-example-title">Outline</h3>
	<div class="f-example">
		<h3>Heading Three <span class="ds-label ds-label-default">10</span></h3>
	</div>
	{{example 'badge.solid'}}
</section>