---
notes: |
  The `badges` components are based on Bootstrap's label classes combined with our own customizations. In Bootstrap version 4, `badges` are replaced with `labels`.

  You can find documentation on <a href="https://v4-alpha.getbootstrap.com/components/label/" target="_blank">Bootstrap's label components</a> on their site.
---

<section class="f-section">
	<h3 class="f-example-title">Outline</h3>
	<div class="f-example">
		<h3>Heading Three <span class="ds-label ds-label-outline">10</span></h3>
	</div>
	{{example 'badge.outline'}}
</section>

<section class="f-section">
	<h3 class="f-example-title">Outline</h3>
	<div class="f-example">
		<h3>Heading Three <span class="ds-label ds-label-default">10</span></h3>
	</div>
	{{example 'badge.solid'}}
</section>

<section class="f-section">
	<h3 class="f-example-title">Sizes</h3>
	<p>The Badge type size is 75% of the heading type size.</p>
	<div class="f-example">
		<h1>Heading One <span class="ds-label ds-label-outline">10</span></h1>
		<h2>Heading Two <span class="ds-label ds-label-outline">10</span></h2>
		<h3>Heading Three <span class="ds-label ds-label-outline">10</span></h3>
		<h4>Heading Four <span class="ds-label ds-label-outline">10</span></h4>
		<h5>Heading Five <span class="ds-label ds-label-outline">10</span></h5>
		<h6>Heading Six <span class="ds-label ds-label-outline">10</span></h6>
	</div>
	{{example 'badge.size-outline'}}
</section>

<section class="f-section">
	<div class="f-example">
		<h1>Heading One <span class="ds-label ds-label-default">10</span></h1>
		<h2>Heading Two <span class="ds-label ds-label-default">10</span></h2>
		<h3>Heading Three <span class="ds-label ds-label-default">10</span></h3>
		<h4>Heading Four <span class="ds-label ds-label-default">10</span></h4>
		<h5>Heading Five <span class="ds-label ds-label-default">10</span></h5>
		<h6>Heading Six <span class="ds-label ds-label-default">10</span></h6>
	</div>
	{{example 'badge.size-solid'}}
</section>

<section class="f-section">
	<h3 class="f-example-title">Variations</h3>
	<div class="f-example">
		<ul class="ds-nav ds-nav-pills">
			<li class="ds-nav-item"><a href="#" class="ds-nav-link ds-h6">Heading Six <span class="ds-label ds-label-outline">1</span></a></li>
			<li class="ds-nav-item"><a href="#" class="ds-nav-link ds-h6">Heading Six <span class="ds-label ds-label-outline">10</span></a></li>
			<li class="ds-nav-item"><a href="#" class="ds-nav-link ds-h6">Heading Six <span class="ds-label ds-label-outline">Label</span></a></li>
			<li class="ds-nav-item"><a href="#" class="ds-nav-link ds-h6">Heading Six <span class="ds-label ds-label-outline">Long Label</span></a></li>
		</ul>
		<ul class="ds-nav ds-nav-pills">
			<li class="ds-nav-item"><a href="#" class="ds-nav-link ds-btn ds-btn-primary">Primary <span class="ds-label ds-label-default">10</span></a></li>
			<li class="ds-nav-item"><a href="#" class="ds-nav-link ds-btn ds-btn-primary-outline">Outline <span class="ds-label ds-label-default">10</span></a></li>
			<li class="ds-nav-item"><a href="#" class="ds-nav-link ds-btn ds-btn-flat">Flat <span class="ds-label ds-label-default">10</span></a></li>
			<li class="ds-nav-item"><a href="#" class="ds-nav-link ds-btn ds-btn-link">Text <span class="ds-label ds-label-default">10</span></a></li>
		</ul>
		<ul class="ds-nav ds-nav-pills">
			<li class="ds-nav-item"><a href="#" class="ds-nav-link ds-btn ds-btn-primary">Primary <span class="ds-label ds-label-outline">10</span></a></li>
			<li class="ds-nav-item"><a href="#" class="ds-nav-link ds-btn ds-btn-primary-outline">Outline <span class="ds-label ds-label-outline">10</span></a></li>
			<li class="ds-nav-item"><a href="#" class="ds-nav-link ds-btn ds-btn-flat">Flat <span class="ds-label ds-label-outline">10</span></a></li>
			<li class="ds-nav-item"><a href="#" class="ds-nav-link ds-btn ds-btn-link">Text <span class="ds-label ds-label-outline">10</span></a></li>
		</ul>
	</div>
	{{example 'badge.variations'}}
</section>