---
notes: |
  The `button` components are based on Bootstrap's button classes combined with our own customizations.

  You can find documentation on <a href="http://v4-alpha.getbootstrap.com/components/buttons/" target="_blank">Bootstrap's button components</a> on their site.
---

<section class="f-section">
	<h3 class="f-example-title">Primary</h3>
	<div class="f-example">
		<button type="button" class="btn btn-primary" id="phantom-btn-primary">Primary</button>
		<button type="button" class="btn btn-primary active" id="phantom-btn-primary-active">Hover</button>
		<button type="button" class="btn btn-primary" id="phantom-btn-primary-disabled" disabled>Disabled</button>
	</div>
	{{example 'button.primary'}}
</section>

<section class="f-section">
	<h3 class="f-example-title">Outline</h3>
	<div class="f-example">
		<button type="button" class="btn btn-primary-outline" id="phantom-btn-outline">Outline</button>
		<button type="button" class="btn btn-primary-outline active" id="phantom-btn-outline-active">Hover</button>
		<button type="button" class="btn btn-primary-outline" id="phantom-btn-outline-disabled" disabled>Disabled</button>
	</div>
	{{example 'button.outline'}}
</section>

<section class="f-section">
	<h3 class="f-example-title">Flat</h3>
	<div class="f-example">
		<button type="button" class="btn btn-flat" id="phantom-btn-flat">Flat</button>
		<button type="button" class="btn btn-flat active" id="phantom-btn-flat-active">Hover</button>
		<button type="button" class="btn btn-flat" id="phantom-btn-flat-disabled" disabled>Disabled</button>
	</div>
	{{example 'button.flat'}}
</section>

<section class="f-section">
	<h3 class="f-example-title">Text</h3>
	<div class="f-example">
		<button type="button" class="btn btn-link" id="phantom-btn-link">Text</button>
		<button type="button" class="btn btn-link active" id="phantom-btn-link-active">Hover</button>
		<button type="button" class="btn btn-link" id="phantom-btn-link-disabled" disabled>Disabled</button>
	</div>
	{{example 'button.text'}}
</section>

<section class="f-section">
	<h3 class="f-example-title">Large</h3>
	<div class="f-example">
		<button type="button" class="btn btn-primary btn-lg">Large</button>
		<button type="button" class="btn btn-primary btn-lg active">Hover</button>
		<button type="button" class="btn btn-primary btn-lg" disabled>Disabled</button>
	</div>
	{{example 'button.large'}}
</section>

<section class="f-section">
	<h3 class="f-example-title">Small</h3>
	<div class="f-example">
		<button type="button" class="btn btn-primary btn-sm">Small</button>
		<button type="button" class="btn btn-primary btn-sm active">Hover</button>
		<button type="button" class="btn btn-primary btn-sm" disabled>Disabled</button>
	</div>
	{{example 'button.small'}}
</section>

<section class="f-section">
	<h3 class="f-example-title">Block</h3>
	<div class="f-example">
		<button type="button" class="btn btn-primary btn-lg btn-block">Block</button>
		<button type="button" class="btn btn-primary btn-lg btn-block active">Hover</button>
		<button type="button" class="btn btn-primary btn-lg btn-block" disabled>Disabled</button>
	</div>
	{{example 'button.block'}}
</section>

<section class="f-section">
	<h3 class="f-example-title">Button Animations</h3>
	<p>Animations not yet complete.</p>
	<div class="f-example">
		<button type="button" class="btn btn-primary">Ripple</button>
		<button type="button" class="btn btn-primary btn-loading"></button>
	</div>
	{{example 'button.animations'}}
</section>
