---
notes: |
  These are notes associated with this `button` components.
---

<h4>Primary</h4>
<button type="button" class="btn btn-primary">Primary</button>
<button type="button" class="btn btn-primary hover">Hover</button>
<button type="button" class="btn btn-primary" disabled>Disabled</button>

<h4>Secondary</h4>
<button type="button" class="btn btn-primary-outline">Secondary</button>
<button type="button" class="btn btn-primary-outline hover">Hover</button>
<button type="button" class="btn btn-primary-outline" disabled>Disabled</button>

<h4>Flat</h4>
<button type="button" class="btn btn-secondary">Flat</button>
<button type="button" class="btn btn-secondary hover">Hover</button>
<button type="button" class="btn btn-secondary" disabled>Disabled</button>

<h4>Text</h4>
<button type="button" class="btn btn-link">Text</button>
<button type="button" class="btn btn-link">Hover</button>
<button type="button" class="btn btn-link" disabled>Disabled</button>

<h4>Large</h4>
<button type="button" class="btn btn-primary btn-lg">Large</button>
<button type="button" class="btn btn-primary btn-lg hover">Hover</button>
<button type="button" class="btn btn-primary btn-lg" disabled>Disabled</button>

<h4>Small</h4>
<button type="button" class="btn btn-primary btn-sm">Small</button>
<button type="button" class="btn btn-primary btn-sm hover">Hover</button>
<button type="button" class="btn btn-primary btn-sm" disabled>Disabled</button>

<h4>Block</h4>
<button type="button" class="btn btn-primary btn-lg btn-block">Block</button>
<button type="button" class="btn btn-primary btn-lg btn-block hover">Hover</button>
<button type="button" class="btn btn-primary btn-lg btn-block" disabled>Disabled</button>
