---
notes: |
  These are notes associated with the `button` components.
---

<section class="f-section">
	<h4 class="f-example-title">Primary</h4>
	<div class="f-example">
		<button type="button" class="btn btn-primary">Primary</button>
		<button type="button" class="btn btn-primary hover">Hover</button>
		<button type="button" class="btn btn-primary" disabled>Disabled</button>
	</div>
	<pre class="language-markup">
		<code class="language-markup">&lt;button type="button" class="btn btn-primary"&gt;Primary&lt;/button&gt;
		&lt;button type="button" class="btn btn-primary hover"&gt;Hover&lt;/button&gt;
		&lt;button type="button" class="btn btn-primary" disabled&gt;Disabled&lt;/button&gt;</code>
	</pre>
</section>

<section class="f-section">
	<h4 class="f-example-title">Secondary</h4>
	<div class="f-example">
		<button type="button" class="btn btn-primary-outline">Secondary</button>
		<button type="button" class="btn btn-primary-outline hover">Hover</button>
		<button type="button" class="btn btn-primary-outline" disabled>Disabled</button>
	</div>
	<pre class="language-markup">
		<code class="language-markup">&lt;button type="button" class="btn btn-primary-outline"&gt;Secondary&lt;/button&gt;
		&lt;button type="button" class="btn btn-primary-outline hover">Hover&lt;/button&gt;
		&lt;button type="button" class="btn btn-primary-outline" disabled>Disabled&lt;/button&gt;</code>
	</pre>
</section>

<section class="f-section">
	<h4 class="f-example-title">Flat</h4>
	<div class="f-example">
		<button type="button" class="btn btn-secondary">Flat</button>
		<button type="button" class="btn btn-secondary hover">Hover</button>
		<button type="button" class="btn btn-secondary" disabled>Disabled</button>
	</div>
	<pre class="language-markup">
		<code class="language-markup">&lt;button type="button" class="btn btn-secondary"&gt;Flat&lt;/button&gt;
		&lt;button type="button" class="btn btn-secondary hover">Hover&lt;/button&gt;
		&lt;button type="button" class="btn btn-secondary" disabled>Disabled&lt;/button&gt;</code>
	</pre>
</section>

<section class="f-section">
	<h4 class="f-example-title">Text</h4>
	<div class="f-example">
		<button type="button" class="btn btn-link">Text</button>
		<button type="button" class="btn btn-link hover">Hover</button>
		<button type="button" class="btn btn-link" disabled>Disabled</button>
	</div>
	<pre class="language-markup">
		<code class="language-markup">&lt;button type="button" class="btn btn-link"&gt;Text&lt;/button&gt;
		&lt;button type="button" class="btn btn-link hover">Hover&lt;/button&gt;
		&lt;button type="button" class="btn btn-link" disabled>Disabled&lt;/button&gt;</code>
	</pre>
</section>

<section class="f-section">
	<h4 class="f-example-title">Large</h4>
	<div class="f-example">
		<button type="button" class="btn btn-primary btn-lg">Large</button>
		<button type="button" class="btn btn-primary btn-lg hover">Hover</button>
		<button type="button" class="btn btn-primary btn-lg" disabled>Disabled</button>
	</div>
</section>

<section class="f-section">
	<h4 class="f-example-title">Small</h4>
	<div class="f-example">
		<button type="button" class="btn btn-primary btn-sm">Small</button>
		<button type="button" class="btn btn-primary btn-sm hover">Hover</button>
		<button type="button" class="btn btn-primary btn-sm" disabled>Disabled</button>
	</div>
</section>

<section class="f-section">
	<h4 class="f-example-title">Block</h4>
	<div class="f-example">
		<button type="button" class="btn btn-primary btn-lg btn-block">Block</button>
		<button type="button" class="btn btn-primary btn-lg btn-block hover">Hover</button>
		<button type="button" class="btn btn-primary btn-lg btn-block" disabled>Disabled</button>
	</div>
</section>