---
notes: |
   The `form` components are based on Bootstrap's form components combined with our own customizations.

   We are currently using class based validation. These classes must be applied to a container so validation styles can be applied to any form fields, form labels and help text. These classes are: `.ds-has-focus, .ds-has-filled, .ds-has-success, .ds-has-danger`. For general descriptions, use the `.ds-text-muted` class. For error or success messages, use the `.ds-text-help` class.

   For more information on Bootstrap's classes for form layouts, control sizing, validation and so on, refer to <a href="http://v4-alpha.getbootstrap.com/components/forms/" target="_blank">Bootstrap's form documentation</a>.
---

<section class="f-section">
	<h3 class="f-example-title">Text Field</h3>
	<div class="f-example">
		<form>
			<fieldset class="ds-form-group ds-row">
				<div class="ds-col-md-7">
					<label for="phantom-exampleInputText1" class="ds-form-control-label">Default <span>Required</span></label>
					<input type="text" class="ds-form-control" id="phantom-exampleInputText1" placeholder="First name">
				</div>
			</fieldset>
			<fieldset class="ds-form-group ds-row ds-has-focus">
				<div class="ds-col-md-7">
					<label for="phantom-exampleInputText1" class="ds-form-control-label">Focus <span>Required</span></label>
					<input type="text" class="ds-form-control" id="phantom-exampleInputText1" placeholder="First name">
				</div>
			</fieldset>
			<fieldset class="ds-form-group ds-row ds-has-filled">
				<div class="ds-col-md-7">
					<label for="phantom-exampleInputText1" class="ds-form-control-label">Filled <span>Required</span></label>
					<input type="text" class="ds-form-control" id="phantom-exampleInputText1" placeholder="First name" value="Frederick">
				</div>
			</fieldset>
			<fieldset class="ds-form-group ds-row ds-has-success">
				<div class="ds-col-md-7">
					<label for="phantom-exampleInputText1" class="ds-form-control-label">Valid <span>Required</span></label>
					<input type="text" class="ds-form-control" id="phantom-exampleInputText1" placeholder="First name" value="Frederick">
				</div>
			</fieldset>
			<fieldset class="ds-form-group ds-row ds-has-danger">
				<div class="ds-col-md-7">
					<label for="phantom-exampleInputText1" class="ds-form-control-label">Error <span>Required</span></label>
					<input type="text" class="ds-form-control" id="phantom-exampleInputText1" placeholder="First name">
					<small class="ds-text-help">
					  Helpful error message.
					</small>
				</div>
			</fieldset>
			<fieldset class="ds-form-group ds-row" disabled>
				<div class="ds-col-md-7">
					<label for="phantom-exampleInputText1" class="ds-form-control-label">Disabled</label>
					<input type="text" class="ds-form-control" id="phantom-exampleInputText1" placeholder="First name">
				</div>
			</fieldset>
		</form>
	</div>
	{{example 'form.text'}}
</section>

<section class="f-section">
	<h3 class="f-example-title">Textarea</h3>
	<div class="f-example">
		<form>
			<fieldset class="ds-form-group ds-row">
				<div class="ds-col-md-7">
					<label for="phantom-exampleTextarea" class="ds-form-control-label">Textarea</label>
					<textarea class="ds-form-control" id="phantom-exampleTextarea" ds-rows="3"></textarea>
				</div>
			</fieldset>
		</form>
	</div>
	{{example 'form.textarea'}}
</section>

<section class="f-section">
	<h3 class="f-example-title">Email Field</h3>
	<div class="f-example">
		<form>
			<fieldset class="ds-form-group ds-row">
				<div class="ds-col-md-7">
					<label for="phantom-exampleInputEmail1" class="ds-form-control-label">Email Address</label>
					<input type="email" class="ds-form-control" id="phantom-exampleInputEmail1" placeholder="Enter email">
					<small class="ds-text-muted">We'll never share your email with anyone else.</small>
				</div>
			</fieldset>
		</form>
	</div>
	{{example 'form.email'}}
</section>

<section class="f-section">
	<h3 class="f-example-title">Password Field</h3>
	<div class="f-example">
		<form>
			<fieldset class="ds-form-group ds-row">
				<div class="ds-col-md-7">
					<label for="exampleInputPassword1" class="ds-form-control-label">Password</label>
					<input type="password" class="ds-form-control" id="exampleInputPassword1" placeholder="Enter Password">
				</div>
			</fieldset>
		</form>
	</div>
	{{example 'form.password'}}
</section>

<section class="f-section">
	<h3 class="f-example-title">Telephone Field</h3>
	<div class="f-example">
		<form>
			<fieldset class="ds-form-group ds-row">
				<div class="ds-col-md-7">
					<label for="phantom-exampleInputTel" class="ds-form-control-label">Telephone</label>
					<input type="tel" class="ds-form-control" id="phantom-exampleInputTel" placeholder="Enter phone number">
				</div>
			</fieldset>
		</form>
	</div>
	{{example 'form.telephone'}}
</section>

<section class="f-section">
	<h3 class="f-example-title">Date Field</h3>
	<div class="f-example">
		<form>
			<fieldset class="ds-form-group ds-row">
				<div class="ds-col-md-7">
					<label for="phantom-exampleInputDate" class="ds-form-control-label">Date</label>
					<input type="date" class="ds-form-control" id="phantom-exampleInputDate">
				</div>
			</fieldset>
		</form>
	</div>
	{{example 'form.date'}}
</section>

<section class="f-section">
	<h3 class="f-example-title">International Address</h3>
	<div class="f-example">
		<form>
			<fieldset class="ds-form-group">
				<label for="exampleInputAddress1">Street Address</label>
				<input type="address" class="ds-form-control" id="exampleInputAddress1" placeholder="Enter Street Address">
			</fieldset>
			<fieldset class="ds-form-group">
				<label for="exampleInputAddress2">Address Line 2</label>
				<input type="address" class="ds-form-control" id="exampleInputAddress2" placeholder="Enter Address Line 2">
			</fieldset>
			<div class="ds-form-inline">
				<fieldset class="ds-form-group">
					<label for="exampleCity">City</label>
					<input type="text" class="ds-form-control" id="exampleCity" placeholder="Enter City">
				</fieldset>
				<fieldset class="ds-form-group">
					<label for="exampleState">State/Province/Region</label>
					<input type="email" class="ds-form-control" id="exampleState" placeholder="Enter State/Province/Region">
				</fieldset>
			</div>
			<div class="ds-form-inline">
				<fieldset class="ds-form-group">
					<label for="exampleZip">Zip/Postal Code</label>
					<input type="text" class="ds-form-control" id="exampleZip" placeholder="Enter Zip/Postal Code">
				</fieldset>
				<fieldset class="ds-form-group">
					<label for="exampleCountry">Country</label>
					<select class="ds-form-control" id="exampleCountry">
						<option>Country 1</option>
						<option>Country 2</option>
						<option>Country 3</option>
						<option>Country 4</option>
						<option>Country 5</option>
					</select>
				</fieldset>
			</div>
		</form>
	</div>
	{{example 'form.international-address'}}
</section>

<section class="f-section">
	<h3 class="f-example-title">USA Address</h3>
	<div class="f-example">
		<form>
			<fieldset class="ds-form-group">
				<label for="exampleInputAddress3">Street Address</label>
				<input type="address" class="ds-form-control" id="exampleInputAddress3" placeholder="Enter Street Address">
			</fieldset>
			<fieldset class="ds-form-group">
				<label for="exampleInputAddress4">Address Line 2</label>
				<input type="address" class="ds-form-control" id="exampleInputAddress4" placeholder="Enter Address Line 2">
			</fieldset>
			<div class="ds-form-inline">
				<fieldset class="ds-form-group">
					<label for="exampleCity1">City</label>
					<input type="text" class="ds-form-control" id="exampleCity1" placeholder="Enter City">
				</fieldset>
				<fieldset class="ds-form-group">
					<label for="exampleState1">State</label>
					<input type="email" class="ds-form-control" id="exampleState1" placeholder="Enter State">
				</fieldset>
			</div>
			<fieldset class="ds-form-group">
				<label for="exampleZip1">Zip Code</label>
				<input type="text" class="ds-form-control" id="exampleZip1" placeholder="Enter Zip Code">
			</fieldset>
		</form>
	</div>
	{{example 'form.usa-address'}}
</section>

<section class="f-section">
	<h3 class="f-example-title">Select Box</h3>
	<div class="f-example">
		<form>
			<fieldset class="ds-form-group ds-row">
				<div class="ds-col-md-4">
					<label for="exampleSelect1" class="ds-form-control-label">Select Box</label>
					<select class="ds-form-control" id="exampleSelect1">
					  <option>1</option>
					  <option>2</option>
					  <option>3</option>
					  <option>4</option>
					  <option>5</option>
					</select>
				</div>
			</fieldset>
		</form>
	</div>
	{{example 'form.select'}}
</section>

<section class="f-section">
	<h3 class="f-example-title">Multiple Select Box</h3>
	<div class="f-example">
		<form>
			<fieldset class="ds-form-group ds-row">
				<div class="ds-col-md-4">
					<label for="exampleSelect2" class="ds-form-control-label">Multiple Select Box</label>
					<select multiple class="ds-form-control" id="exampleSelect2">
					  <option>1</option>
					  <option>2</option>
					  <option>3</option>
					  <option>4</option>
					  <option>5</option>
					</select>
				</div>
			</fieldset>
		</form>
	</div>
	{{example 'form.multi-select'}}
</section>

<section class="f-section">
	<h3 class="f-example-title">Vertical Radio Options</h3>
	<p>When using custom radio buttons, the <code class="language-markup">.ds-radio-custom</code> class needs to be added to the parent wrapper with the radio button and span nested inside. View examples below for both horizontal and vertical radio buttons.</p>
	<div class="f-example">
		<form>
			<p>A vertical set of radios are pictured below.</p>
			<label class="ds-radio-custom">
				<input type="radio" name="optionsRadios" id="optionsRadios1" value="option1" checked>
				<span>Option one is this and that&mdash;be sure to include why it's great</span>
			</label>
			<label class="ds-radio-custom">
				<input type="radio" name="optionsRadios" id="optionsRadios2" value="option2">
				<span>Option two can be something else and selecting it will deselect option one</span>
			</label>
			<label class="ds-radio-custom ds-disabled">
				<input type="radio" name="optionsRadios" id="optionsRadios3" value="option3" disabled>
				<span>Option three is disabled</span>
			</label>
		</form>
	</div>
	{{example 'form.radio-options'}}
</section>

<section class="f-section">
	<h3 class="f-example-title">Horizontal Radio Options</h3>
	<div class="f-example">
		<form>
			<p>A horizontal set of radios are pictured below.</p>
			<label class="ds-radio-custom ds-radio-inline">
				<input type="radio" name="optionsRadios" id="optionsRadios1" value="option1" checked>
				<span>USA</span>
			</label>
			<label class="ds-radio-custom ds-radio-inline">
				<input type="radio" name="optionsRadios" id="optionsRadios2" value="option2">
				<span>International</span>
			</label>
			<label class="ds-radio-custom ds-disabled ds-radio-inline">
				<input type="radio" name="optionsRadios" id="optionsRadios2" value="option2" disabled>
				<span>Other is disabled</span>
			</label>
		</form>
	</div>
	{{example 'form.radio-options-two'}}
</section>

<section class="f-section">
	<h3 class="f-example-title">Vertical Checkboxes</h3>
	<div class="f-example">
		<form>
			<p>Example of vertical checkbox set below:</p>
			<div class="ds-checkbox">
				<label>
					<input type="checkbox" value="option1"> Option 1
				</label>
			</div>
			<div class="ds-checkbox">
				<label>
					<input type="checkbox" value="option2"> Option 2
				</label>
			</div>
			<div class="ds-checkbox">
				<label class="ds-disabled">
					<input type="checkbox" value="option3" disabled> Option 3 disabled
				</label>
			</div>
		</form>
	</div>
	{{example 'form.checkbox'}}
</section>

<section class="f-section">
	<h3 class="f-example-title">Horizontal Checkboxes</h3>
	<div class="f-example">
		<form>
			<p>Example of horizontal checkbox set below:</p>
			<label class="ds-checkbox-inline">
				<input type="checkbox" value="option1"> Option 1
			</label>
			<label class="ds-checkbox-inline">
				<input type="checkbox" value="option2"> Option 2
			</label>
			<label class="ds-checkbox-inline ds-disabled">
				<input type="checkbox" value="option3" disabled> Option 3 disabled
			</label>
		</form>
	</div>
	{{example 'form.checkbox-two'}}
</section>

<section class="f-section">
	<h3 class="f-example-title">Inline Forms: Visible Labels</h3>
	<div class="f-example">
		<form class="ds-form-inline">
		  <div class="ds-form-group">
			<label for="exampleInputName2">Name</label>
			<input type="text" class="ds-form-control" id="exampleInputName2" placeholder="Jane Doe">
		  </div>
		  <div class="ds-form-group">
			<label for="exampleInputEmail2">Email</label>
			<input type="email" class="ds-form-control" id="exampleInputEmail2" placeholder="jane.doe@example.com">
		  </div>
		  <button type="submit" class="ds-btn ds-btn-primary">Send invitation</button>
		</form>
	</div>
	{{example 'form.inline-forms-visible'}}
</section>

<section class="f-section">
	<h3 class="f-example-title">Inline Forms: Hidden Labels</h3>
	<div class="f-example">
		<form class="ds-form-inline">
		  <div class="ds-form-group">
			<label class="sr-only" for="exampleInputEmail3">Email address</label>
			<input type="email" class="ds-form-control" id="exampleInputEmail3" placeholder="Enter email">
		  </div>
		  <div class="ds-form-group">
			<label class="sr-only" for="exampleInputPassword3">Password</label>
			<input type="password" class="ds-form-control" id="exampleInputPassword3" placeholder="Password">
		  </div>
		  <div class="checkbox">
			<label>
			  <input type="checkbox"> Remember me
			</label>
		  </div>
		  <button type="submit" class="ds-btn ds-btn-primary">Sign in</button>
		</form>
	</div>
	{{example 'form.inline-forms-hidden'}}
</section>
