---
notes: |
  The `nav` class is a Bootstrap default whereas we're adding a custom class `sidebar` to further customize for Design System.
---

<section class="f-section">
  <h4 class="f-example-title">Sidebar: Single Level</h4>
  <div class="f-example">
    <ul class="nav sidebar">
      <li class="nav-item">
        <a class="nav-link current" href="#!">Current Parent</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#!">Parent Link</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#!">Parent Link</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#!">Parent Link</a>
      </li>
    </ul>
  </div>
  <pre class="language-markup">
    <code class="language-markup">&lt;ul class="nav sidebar"&gt;
      &lt;li class="nav-item"&gt;
        &lt;a class="nav-link current" href="#!"&gt;Current Parent&lt;/a&gt;
      &lt;/li&gt;
      &lt;li class="nav-item"&gt;
        &lt;a class="nav-link" href="#!"&gt;Parent Link&lt;/a&gt;
      &lt;/li&gt;
      &lt;li class="nav-item"&gt;
        &lt;a class="nav-link" href="#!"&gt;Parent Link&lt;/a&gt;
      &lt;/li&gt;
      &lt;li class="nav-item"&gt;
        &lt;a class="nav-link" href="#!"&gt;Parent Link&lt;/a&gt;
      &lt;/li&gt;
    &lt;/ul&gt;</code>
  </pre>
</section>

<section class="f-section">
  <h4 class="f-example-title">Sidebar: Two Levels</h4>
  <div class="f-example">
    <ul class="nav sidebar">
      <li class="nav-item">
        <a class="nav-link" href="#!">Parent Link</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#!">Parent Link</a>
        <ul class="nav">
          <li class="nav-item">
            <a class="nav-link current" href="#!">Child Link</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#!">Child Link</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#!">Child Link</a>
          </li>
        </ul>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#!">Parent Link</a>
      </li>
    </ul>
  </div>
  <pre class="language-markup">
    <code class="language-markup">&lt;ul class="nav sidebar"&gt;
      &lt;li class="nav-item"&gt;
        &lt;a class="nav-link" href="#!">Parent Link&lt;/a&gt;
      &lt;/li&gt;
      &lt;li class="nav-item"&gt;
        &lt;a class="nav-link" href="#!">Parent Link&lt;/a&gt;
        &lt;ul class="nav"&gt;
          &lt;li class="nav-item"&gt;
            &lt;a class="nav-link current" href="#!">Current Child&lt;/a&gt;
          &lt;/li&gt;
          &lt;li class="nav-item"&gt;
            &lt;a class="nav-link" href="#!">Child Link&lt;/a&gt;
          &lt;/li&gt;
          &lt;li class="nav-item"&gt;
            &lt;a class="nav-link" href="#!">Child Link&lt;/a&gt;
          &lt;/li&gt;
        &lt;/ul&gt;
      &lt;/li&gt;
      &lt;li class="nav-item"&gt;
        &lt;a class="nav-link" href="#!">Parent Link&lt;/a&gt;
      &lt;/li&gt;
    &lt;/ul&gt;</code>
  </pre>
</section>
