---
notes: |
  The `nav` class is a Bootstrap default whereas we're adding a custom class `sidebar` to further customize for Design System.
---

<section class="f-section">
  <h4 class="f-example-title">Sidebar Navigation</h4>
  <div class="f-example">
    <ul class="nav sidebar">
      <li class="nav-item">
        <a class="nav-link current" href="#">Link</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#">Link</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#">Another link</a>
      </li>
      <li class="nav-item">
        <a class="nav-link disabled" href="#">Disabled</a>
      </li>
    </ul>
  </div>
  <pre class="language-markup">
    <code class="language-markup">&lt;ul class="nav sidebar"&gt;
      &lt;li class="nav-item"&gt;
        &lt;a class="nav-link current" href="#"&gt;Link&lt;/a&gt;
      &lt;/li&gt;
      &lt;li class="nav-item"&gt;
        &lt;a class="nav-link" href="#"&gt;Link&lt;/a&gt;
      &lt;/li&gt;
      &lt;li class="nav-item"&gt;
        &lt;a class="nav-link" href="#"&gt;Another link&lt;/a&gt;
      &lt;/li&gt;
      &lt;li class="nav-item"&gt;
        &lt;a class="nav-link disabled" href="#"&gt;Disabled&lt;/a&gt;
      &lt;/li&gt;
    &lt;/ul&gt;</code>
  </pre>
</section>
