---
notes: |
  The `nav` class is a Bootstrap default whereas we're adding a custom class `sidebar` to further customize for Design System.
---

<section class="f-section">
	<h3 class="f-example-title">Sidebar: Single Level</h3>
	<div class="f-example">
		<ul class="ds-nav ds-sidebar" id="phantom-sidebar-single">
			<li class="ds-nav-item">
				<a class="ds-nav-link ds-current" href="#!">Current Parent</a>
			</li>
			<li class="ds-nav-item">
				<a class="ds-nav-link" href="#!">Parent Link</a>
			</li>
			<li class="ds-nav-item">
				<a class="ds-nav-link" href="#!">Parent Link</a>
			</li>
			<li class="ds-nav-item">
				<a class="ds-nav-link" href="#!">Parent Link</a>
			</li>
		</ul>
	</div>
	{{example 'side-navigation.single-levels'}}
</section>

<section class="f-section">
	<h3 class="f-example-title">Sidebar: Two Levels</h3>
	<p>By default, all child menus are collapsed. To enable these by default, add the `.ds-nav-show` class. If you wish to show the class using a JavaScript interaction, add the '.ds-current' class to the child menu.</p>
	<div class="f-example">
		<ul class="ds-nav ds-sidebar">
			<li class="ds-nav-item">
				<a class="ds-nav-link" href="#!">Parent Link</a>
				<ul class="ds-nav">
					<li class="ds-nav-item">
						<a class="ds-nav-link" href="#!">Current Child</a>
					</li>
					<li class="ds-nav-item">
						<a class="ds-nav-link" href="#!">Child Link</a>
					</li>
					<li class="ds-nav-item">
						<a class="ds-nav-link" href="#!">Child Link</a>
					</li>
				</ul>
			</li>
			<li class="ds-nav-item">
				<a class="ds-nav-link" href="#!">Parent Link</a>
				<ul class="ds-nav ds-current">
					<li class="ds-nav-item">
						<a class="ds-nav-link ds-current" href="#!">Current Child</a>
					</li>
					<li class="ds-nav-item">
						<a class="ds-nav-link" href="#!">Child Link</a>
					</li>
					<li class="ds-nav-item">
						<a class="ds-nav-link" href="#!">Child Link</a>
					</li>
				</ul>
			</li>
			<li class="ds-nav-item">
				<a class="ds-nav-link" href="#!">Parent Link</a>
				<ul class="ds-nav ds-nav-show">
					<li class="ds-nav-item">
						<a class="ds-nav-link" href="#!">Current Child</a>
					</li>
					<li class="ds-nav-item">
						<a class="ds-nav-link" href="#!">Child Link</a>
					</li>
					<li class="ds-nav-item">
						<a class="ds-nav-link" href="#!">Child Link</a>
					</li>
				</ul>
			</li>
		</ul>
	</div>
	{{example 'side-navigation.two-levels'}}
</section>
