---
notes: |
  JDRF websites are primarily flat.  Components that require special attention, such as cards and buttons, have subtle elevations to increase contrast with their surroundings and invite interaction.

  Elevations are applied using the `ds-elevation-` class and are numbered 1 to 5. `.ds-elevation-1` is the lowest and `.ds-elevation-5` is the highest.

  Buttons in most cases start with `.ds-elevation-1` and raise to `.ds-elevation-3` on `:hover`, `:focus` and `:active` states. The `.ds-btn-flat` style of buttons start with no elevation and raise to `.ds-elevation-two` on `:hover`, `:focus` and `:active` states.

  To remove elevations on a component that isn't flat by default, you can use the `@include elevation-remove;` Sass mixin.

   Modals, dialogs and menus (coming soon to the Design System) are the rare objects that require higher elevations.
   
---

<div class="f-example-inline">
	<div class="f-rectangle ds-elevation-remove"></div>

	<p class="f-example-desc">flat</p>
</div>
	<p class="f-example-desc">ds-elevation-1</p>
</div>
<div class="f-example-inline">
	<div class="f-rectangle ds-elevation-2"></div>

	<p class="f-example-desc">ds-elevation-2</p>
</div>
<div class="f-example-inline">
	<div class="f-rectangle ds-elevation-3"></div>

	<p class="f-example-desc">ds-elevation-3</p>
</div>
<div class="f-example-inline">
	<div class="f-rectangle ds-elevation-4"></div>

	<p class="f-example-desc">ds-elevation-4</p>
</div>
<div class="f-example-inline">
	<div class="f-rectangle ds-elevation-5"></div>

	<p class="f-example-desc">ds-elevation-5</p>
</div>
{{example 'elevations.elevations'}}
