---
notes: |
  The Design System is using most of the  classes and breakpoints from Bootstrap\'s grid component. The grid is based on a 12 column layout and s using multiple tiers, one for each <a href="http://v4-alpha.getbootstrap.com/layout/overview/#responsive-breakpoints" target="_blank">media query range</a>.

  There are the three major components to working with the grid: **containers**, **rows**, and **columns**.

  * *Containers* center your site's contents and help align your grid content. There are two types of containers: `.ds-container` for a fixed width and `.ds-container-fluid` for full width.

  * *Rows* are wrappers for your columns that ensure the columns align properly.

  * *Column* classes should indicate the number of columns you'd like to use out of the possible 12 columns per row. E.g. `.ds-col-sm-4` for three equal columns from any sizes greater than the small breakpoint.

  The Design System uses one different breakpoint and a different max-width for containers than what Bootstrap uses. Our smallest break point (Extra Small) is less than `360px` instead of Bootstrap\'s `375px`. Our max width is `1088px` instead of Bootstrap\'s `1140px`.

  For more examples on how to use the grid, <a href="http://v4-alpha.getbootstrap.com/layout/grid/" target="_blank">review Bootstrap's documentation</a>.
---

<section class="f-section">
	<h3 class="f-example-title">Three columns</h3>
	<div class="f-example">
		<div class="ds-container">
		  <div class="ds-row">
			<div class="ds-col-md-4 f-col one">
			  First of three columns
			</div>
			<div class="ds-col-md-4 f-col two">
			  Second of three columns
			</div>
			<div class="ds-col-md-4 f-col three">
			  Third of three columns
			</div>
		  </div>
		</div>
	</div>
	{{example 'grid.grid'}}
</section>
