---
notes: |
  You can read more about <a href="http://v4-alpha.getbootstrap.com/layout/grid/" target="_blank">how to use the grid</a> from Bootstrap's documentation.
---
<section class="f-section">
	<h3 class="f-example-title">Three Columns</h3>
	<div class="f-example">
		<div class="container">
		  <div class="row">
		    <div class="col-md-4 f-col one">
		      First of three columns
		    </div>
		    <div class="col-md-4 f-col two">
		      Second of three columns
		    </div>
		    <div class="col-md-4 f-col three">
		      Third of three columns
		    </div>
		  </div>
		</div>
	</div>
	{{example 'grid.grid'}}
</section>