@import "scss/mixins/buttons";

/* Bootstrap @import "scss/mixins/buttons.scss */

@mixin button-font-overwrite {
	font-size: 0.875rem; /* 14px */
	line-height: 0.875rem; /* 14px */
	font-family: $font-medium;
	text-transform: uppercase;
}

@mixin button-variant($color, $background, $border) {
	color: $color;
	background-color: $background;
	border-color: $border;
	@include elevation-one;

	@include hover {
		color: $color;
		@include elevation-two;
	}

	&:focus,
	&.focus {
		color: $color;
		@include elevation-two;
	}

	&:active,
	&.active,
	.open > &.dropdown-toggle {
		color: $color;
		// Remove the gradient for the pressed/active state
		background-image: none;
		@include elevation-two;

		&:hover,
		&:focus,
		&.focus {
		  color: $color;
		}
	}

	&.disabled,
	&:disabled {
		color: $grey-6;
		background-color: $grey-4;
		border-color: $grey-4;
		@include elevation-remove;

		&:focus,
		&.focus {
			color: $grey-6;
			background-color: $grey-4;
			border-color: $grey-4;
		}

		@include hover {
			color: $grey-6;
			background-color: $grey-4;
			border-color: $grey-4;
		}
	}
}

@mixin button-outline-variant($color) {
	color: $color;
	background-image: none;
	background-color: transparent;
	border-color: $color;
	@include elevation-one;

	&:focus,
	&.focus,
	&:active,
	&.active,
	.open > &.dropdown-toggle {
		@include elevation-two;
		color: $jdrf-white;
		background-color: $color;
		border-color: $color;
	}

	@include hover {
		@include elevation-two;
		color: $jdrf-white;
		background-color: $color;
		border-color: $color;
	}

	&.disabled,
	&:disabled {
		color: $grey-6;
		border-color: $grey-6;
		background-color: $jdrf-white;
		@include elevation-remove;

		&:focus,
		&.focus {
			color: $grey-6;
			border-color: $grey-6;
			background-color: $jdrf-white;
		}

		@include hover {
			color: $grey-6;
			border-color: $grey-6;
			background-color: $jdrf-white;
		}
	}
}