---
title: Download
fabricator: true
---

<h2>{{title}}</h2>

<p>You can download the latest pre-release
	<a href="https://github.com/JDRF/design-system/tree/v0.0.1" target="_blank">
		here on Github</a>. We'd suggest following the outlined options below.</p>


<p>To use Design System, copy/download the file found on the
	<a href="https://github.com/JDRF/design-system/tree/master/dist/css" target="_blank">master branch</a>
	to your website. This file contains all current components and provides
	support for any needed icons, typography, or styling. We recommend including
	it in the HEAD html tag for use throughout your website/application.

{{escape '<link rel="stylesheet" href="/<PATH TO CSS>/design-system.css">'}}
</p>

<p>By default, button colors are set to <code class="language-markup">$jdrf-green</code>. However the button colors should vary by program. It is recommended to change button colors as soon as the Design System file has been placed in the HEAD html tag.</p>

<p>View <a href="/dist/content.html#colors">our Colors section</a> for an example of how to overwrite these button colors for your project.</p>

<p>Currently, Design System only supports a few components - none of which require
	JavaScript. If font files are needed for the website/application, copy/download
	the font files found in the
	<a href="https://github.com/JDRF/design-system/tree/master/dist/fonts/gotham" target="_blank">master branch</a>
	It's recommended to place the font folder in a similar path to the CSS files.
{{escape '
└── ./
 ├── css/
  └──  design-system.css
 └── fonts/
  └──  gotham/
'}}

If icons are a requirement, Design System already includes all necessary styles, but requires the font file from Google's CDN. Include this in the `HEAD` html tag right before the Design System css file.

{{escape '<link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
<link rel="stylesheet" href="/<PATH TO CSS>/design-system.css">'}}
</p>
