---
title: Download
fabricator: true
---

<h2>{{title}}</h2>

<p class="ds-lead">Get started by downloading the <a href="https://github.com/JDRF/design-system/tree/master" target="_blank">latest release on Github</a> and following the outlined options below.</p>

<p><a class="ds-btn ds-btn-primary href="href="https://github.com/JDRF/design-system/archive/master.zip" target="_blank">Download v0.0.1</a></p>


<p>To begin using the Design System, simply add a single css file to your website/application.  The <a href="https://github.com/JDRF/design-system/tree/master/dist/css" target="_blank">CSS file</a> can be found in the master branch.</p>

<p>This file contains all current components and provides support for any needed icons, typography, or styling. We recommend including it in the HEAD html tag.</p>

{{escape '<link rel="stylesheet" href="/<PATH TO CSS>/design-system.css">'}}

<h3>Fonts</h3>

<p>If font files are needed for the website/application, copy/download the <a href="https://github.com/JDRF/design-system/tree/master/dist/fonts/gotham" target="_blank">font files</a> found in the
master branch.  It's recommended to place the font folder in a similar path to the CSS files.</p>

<p>Your website's domain will need to be whitelisted by JDRF before Gotham can display properly.  Email pmckowen at jdrf dot org for instructions.

<p>If font files are needed for the website/application, copy/download
	the font files found in the
	<a href="https://github.com/JDRF/design-system/tree/master/dist/fonts/gotham" target="_blank">master branch</a>
	It's recommended to place the font folder in a similar path to the CSS files.

{{escape '
└── ./
 ├── css/
  └──  design-system.css
 └── fonts/
  └──  gotham/
'}}

<h3>Button and Link Colors</h3>

<p>By default, button are set to <code class="language-markup">$jdrf-green</code>. However if your site aligns with a specific JDRF program color &mdash; (for example the JDRF One Walk&reg; brand aligns with <code class="language-markup">$jdrf-orange</code>) &mdash; you must override the default color. It is recommended to change button colors as soon as the Design System file has been placed in the HEAD html tag.</p>

<p>Learn more about color options on the <a href="./content.html#colors">Colors Page.</a>


{{example 'colors.buttons'}}

<h3>Icons</h3>

If icons are a requirement, Design System already includes all necessary styles, but requires the font file from Google's CDN. Include this in the `HEAD` html tag right before the Design System css file.

{{escape '<link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
<link rel="stylesheet" href="/<PATH TO CSS>/design-system.css">'}}
</p>
