---
title: JDRF Digital Design System
fabricator: true
---

<h2>Overview</h2>

<p class="ds-lead">Build web experiences that feel beautifully at home in the <a href="https://jdrf.org/" target="_blank">JDRF</a> ecosystem &mdash; without needing to write any CSS or Javascript.</p>
<p><a href="./getting-started.html#download" class="ds-btn ds-btn-primary ds-btn-sm">Get the Design System</a></p>
<p>Current Release: <a href="https://github.com/JDRF/design-system/releases" target="_blank">v0.0.1.</a></p>

<hr />

<h3>Contribute</h3>

<p>If you'd like to contribute to the Design System, please read through our <a href="https://github.com/JDRF/design-system/blob/master/CONTRIBUTING.md" target="_blank">contributing doc</a>.</p>
