<div class="f-header-top">
	<h1 class="f-logo">JDRF Design System</h1>
	<nav class="f-nav"aria-label="primary-nav">
		<ul class="nav nav-inline">
			<li class="nav-item">
				<a href="#" class="nav-link">
					Documentation <span class="sr-only"> will trigger a new window or tab.</span>
				</a>
			</li>
			<li class="nav-item">
				<a href="https://github.com/JDRF/design-system" target="_blank" class="nav-link">
					Github <span class="sr-only"> will trigger a new window or tab.</span>
				</a>
			</li>
		</ul>
	</nav>
</div>
<div class="f-header">
	<div class="f-header-center">
		<h2 class="f-header-title">{{title}}</h2>
		<p class="f-header-content">This is the {{title}} page.</p>
	</div>
</div>