<!-- fabricator menu -->
<div class="f-menu">

	<ul class="nav">

		<li class="nav-item">
			<a href="./index.html" class="f-menu__heading nav-link">Overview</a>
			<a href="./about.html" class="f-menu__heading nav-link">About</a>
			<a href="./faq.html" class="f-menu__heading nav-link">FAQ</a>
		</li>

		{{#each materials}}
		<li class="nav-item">
			<a href="./{{@key}}.html" class="f-menu__heading nav-link">{{name}}</a>
			<ul>
				{{#each items}}
				<li>
					<a href="./{{@../key}}.html#{{@key}}" class="nav-link">{{name}}</a>
				</li>
				{{/each}}
			</ul>
		</li>
		{{/each}}

		{{#each views}}
		<li class="nav-item">
			<a href="./{{@key}}.html" class="f-menu__heading nav-link">{{name}}</a>
			<ul>
				{{#each items}}
				<li>
					<a href="./{{@../key}}/{{@key}}.html" class="nav-link">{{name}}</a>
				</li>
				{{/each}}
			</ul>
		</li>
		{{/each}}

		<li class="nav-item">
			<a href="./docs.html" class="f-menu__heading nav-link">Docs</a>
			<ul>
				{{#each docs}}
				<li>
					<a href="./docs.html#{{@key}}" class="nav-link">{{name}}</a>
				</li>
				{{/each}}
			</ul>
		</li>

	</ul>


</div>
<!-- /fabricator menu -->
