.f-example {
	.ds-btn-block {
		margin-bottom: 1rem;
	}

	.ds-btn-group,
	.ds-btn-group-vertical {

		.ds-btn {
			margin-bottom: 0;
		}
	}

	.ds-btn-group-vertical {
		@include desktop {
			margin-left: 1rem;
		}
	}

	.ds-btn {
		margin-bottom: 1rem;

		@include desktop {
			margin-right: 1.5rem;
		}

		@include mobile {
			display: block;
		}
	}

	.ds-btn-link {
		@include mobile {
			display: inline-block;
		}
	}

	.ds-btn-group {
		.ds-btn {
			@include desktop {
				margin: 0;
			}
		}
	}

	#phantom-ds-btn-green {
		background-color: #00a862;
		border-color: #00a862;
	}

	#phantom-ds-btn-purple {
		background-color: #a75ccc;
		border-color: #a75ccc;
	}

	#phantom-ds-btn-magenta {
		background-color: #e01279;
		border-color: #e01279;
	}

	#phantom-ds-btn-orange {
		background-color: #fa6323;
		border-color: #fa6323;
	}

	#phantom-ds-btn-blue {
		background-color: #0073cf;
		border-color: #0073cf;
	}

	#phantom-ds-btn-white {
		background-color: #ffffff;
		border-color: #ffffff;
		color: #00a862;
	}

}