.f-example {
	.ds-btn-block {
		margin-bottom: 1rem;
	}

	.ds-btn-group,
	.ds-btn-group-vertical {

		.ds-btn {
			margin-bottom: 0;
		}
	}

	.ds-btn-group-vertical {
		@include desktop {
			margin-left: 1rem;
		}
	}

	.ds-btn {
		margin-bottom: 1rem;

		@include desktop {
			margin-right: 1.5rem;
		}

		@include mobile {
			display: block;
		}
	}

	.ds-btn-link {
		@include mobile {
			display: inline-block;
		}
	}

	.ds-btn-group {
		.ds-btn {
			@include desktop {
				margin: 0;
			}
		}
	}
}