.f-example {
	.ds-card {
		max-width: 18.75rem;
	}

	.ds-card-featured,
	.ds-card-content,
	.ds-card-program {
		max-width: 100%;
	}

	.ds-card {
		.ds-btn {
			margin-bottom: 0.5rem;
		}
	}

	.ds-card-block-btns {
		.ds-btn {
			margin-bottom: 0;
		}
	}

	.ds-card-featured,
	.ds-card-footer {
		.ds-btn {
			margin: 0;
		}
	}

	.ds-card-featured-hero {
		.ds-btn {
			margin-left: -0.5rem;
		}
	}

	.ds-card-featured-hero {
		@media screen and ( min-width: 768px ) {
			height: 448px;
		}

		@media screen and ( min-width: 992px ) {
			height: 348px;
		}

		@media screen and ( min-width: 1199px ) {
			height: 300px;
		}

		.ds-card-img-left {
			@media screen and ( min-width: 768px ) {
				height: 448px;
			}

			@media screen and ( min-width: 992px ) {
				height: 348px;
			}

			@media screen and ( min-width: 1199px ) {
				height: 300px;
			}
		}
	}

	.ds-card-hero {
		&:after {
			@media screen and ( min-width: 768px ) {
				right: -62%;
			}

			@media screen and ( min-width: 992px ) {
				right: -75%;
			}

			@media screen and ( min-width: 1199px ) {
				right: -82%;
			}
		}
	}
}