.f-example {
	.ds-card {
		max-width: 18.75rem;
	}

	.ds-card-featured,
	.ds-card-content,
	.ds-card-program {
		max-width: 100%;
	}

	.ds-card {
		.ds-btn {
			margin-bottom: 0.5rem;
		}
	}

	.ds-card-block-btns {
		.ds-btn {
			margin-bottom: 0;
		}
	}

	.ds-card-featured,
	.ds-card-footer {
		.ds-btn {
			margin: 0;
		}
	}

	.ds-card-featured-hero {
		.ds-btn {
			margin-left: -0.5rem;
		}
	}

	.ds-card-featured-hero {
		@include desktop {
			height: 320px;
		}

		@include mobile {
			height: auto;
		}

		.ds-card-img-left {
			@include desktop {
				height: 320px;
			}

			@include mobile {
				height: auto;
			}
		}
	}
}