.f-control-bar {
	display: inline-block;
	vertical-align: middle;
	margin-right: 1rem;
}

.f-control {
	display: inline-block;
	margin-left: 0.66rem;
	cursor: pointer;
	appearance: none;
	border: none;
	background-color: transparent;
	-webkit-appearance: none;
	-moz-appearance: none;
	@include border-box;

	&:first-child {
		margin-left: 0;
	}

	svg {
		width: 0.875rem;
		height: 0.875rem;

		use {
			fill: color(light);
		}
	}
}

.f-menu-toggle {
	vertical-align: middle;
	display: block;
	margin: 1rem 0;
	cursor: pointer;

	svg {
		display: block;
		margin-bottom: -1px;
	}
}
