.f-family-book {
	font-family: "Gotham Book";
}

.f-family-book-italic {
	font-family: "Gotham Book Italic";
	font-style: italic;
}

.f-family-light {
	font-family: "Gotham Light";
}

.f-family-light-italic {
	font-family: "Gotham Light Italic";
	font-style: italic;
}

.f-family-medium {
	font-family: "Gotham Medium";
}

.f-family-medium-italic {
	font-family: "Gotham Medium Italic";
	font-style: italic;
}

.f-family-bold {
	font-family: "Gotham Bold";
}

.f-family-bold-italic {
	font-family: "Gotham Bold";
	font-style: italic;
}
