.f-example {
	.ds-form-group {
		&:not(.ds-checkbox-group) {
			@include desktop {
				max-width: 304px;
			}
		}
	}

	.f-inline-form-btn {
		@include desktop {
			display: inline-block;
			vertical-align: middle;
			margin-top: 27px;
		}
	}

	.ds-hidden-labels ~ .f-inline-form-btn {
		@include desktop {
			margin-top: 0;
		}
	}
}