.f-header {
	background-color: color(primary-light);
	color: #ffffff;
	padding: 4.813em 0;
	width: 100%;

	.f-menu-active & {
		min-height: 248px;
	}

	.f-header-center {
		max-width: $max-width;
		margin: auto;
		padding: 0 1em;

		.f-header-title {
			color: inherit;
			font-weight: 200;
			margin-bottom: .3em;
		}

		.f-header-content {
			font-weight: 200;
		}
	}

	.f-menu-active & {
		.f-header-center {
			h1 {
				font-size: 3rem;
			}
		}
	}
}
