.f-header-top {
	width: 100%;
	max-width: $max-width;
	margin: auto;
	padding: 1rem;
	font-size: 0.875rem;

	.f-logo,
	.f-nav {
		font-size: inherit;

		@include desktop {
			height: 35px;
		}
	}

	.f-logo {
		display: inline-block;
		vertical-align: middle;
		margin: 0;
		font-family: "Gotham Medium";
		line-height: 1.5rem;
		color: color(primary-light);

		svg,
		span {
			display: inline-block;
			vertical-align: middle;
		}

		svg {
			height: 35px;
			fill: color(primary-light);
		}
	}

	.f-nav {
		display: none;

		@include desktop {
			display: inline-block;
			vertical-align: middle;
		}

		.nav {
			.nav-item {
				padding-top: 0.45rem;
				margin-left: 0;
				width: 100%;

				@include desktop {
					display: inline-block;
					margin-left: 1rem;
					width: auto;
				}
			}
		}
	}
}

.f-header {
	margin-bottom: 2rem;
	padding: 2.813rem 0;
	width: 100%;
	background-color: color(primary-light);
	color: #ffffff;

	@include desktop {
		padding: 4.813rem 0;
	}

	.f-header-center {
		padding: 0 1rem;
		font-family: "Gotham Light";

		.f-header-title {
			margin-bottom: .3rem;
			font-family: inherit;
			color: inherit;

		}

		.f-header-content {
			font-family: inherit;
		}
	}

	.f-menu-active & {
		.f-header-center {
			h1 {
				font-size: 3rem;
			}
		}
	}
}

.f-header-top,
.f-header {
	@include mobile {
		@include transition;
	}

	.f-menu-active & {
		@include mobile {
			transform: translate($menu-width-mobile, 0);
		}
	}
}
