html {
	height: 100%;

	&.f-menu-active {
		@include mobile {
			overflow: hidden;
		}

		@include desktop {
			overflow-x: hidden;
		}
	}
}

body {
	position: relative;
	margin: 0;

	.f-menu-active & {
		width:100%;
		height: 100%;

		@include mobile {
			overflow: hidden;
		}
	}
}

.f-container {
	z-index: 0;
	margin: auto;
	padding: 0 1rem;
	min-height: 100vh;
	max-width: $max-width;
	@include clearfix;
	@include border-box;
}

.f-row.ds-row {
	flex-wrap: nowrap;
}

.f-content {
	@include transition;

	.f-menu-active & {
		transform: translate($menu-width-mobile, 0);
	}
}
