html {
	height: 100%;

	&.f-menu-active {
		overflow: hidden;

		@media (min-width: 60em) {
			overflow: auto;
		}
	}
}

body {
	margin: 0;
	position: relative;

	.f-menu-active & {
		width:100%;
		height: 100%;
		overflow: hidden;

		@media (min-width: 60em) {
			overflow: auto;
			height: auto;
		}
	}
}

.f-container {
	@include clearfix;
	@include border-box;
	position: relative;
	padding: 0 1em;
	z-index: 0;
	min-height: 100vh;
	margin: auto;
	@include transition;
	max-width: $max-width;

	.f-menu-active & {
		transform: translate($menu-width-mobile, 0);

		@media (min-width: 60em) {
			transform: translate(0, 0);
		}
	}

}

.f-content {
	margin-top: 65px;

	@media (min-width: 60em) {
		width: $content-width;
		float: right;
	}
}
