html {
	height: 100%;

	&.f-menu-active {
		@include mobile {
			overflow: hidden;
		}

		@include desktop {
			overflow: auto;
		}
	}
}

body {
	position: relative;
	margin: 0;

	.f-menu-active & {
		width:100%;
		height: 100%;

		@include mobile {
			overflow: hidden;
		}

		@include desktop {
			overflow: auto;
			height: auto;
		}
	}
}

.f-container {
	z-index: 0;
	margin: auto;
	padding: 0 1rem;
	min-height: 100vh;
	max-width: $max-width;
	@include clearfix;
	@include border-box;

	@include desktop {
		position: relative;
	}
}

.f-content {
	@include mobile {
		@include transition;
	}

	@include desktop {
		margin-top: 4.063rem;
		min-height: 1000px;
	}

	.f-menu-active & {
		@include mobile {
			transform: translate($menu-width-mobile, 0);
			-webkit-transform: translate($menu-width-mobile, 0);
			-ms-transform: translate($menu-width-mobile, 0);
		}
	}
}
