// menu
.f-menu {
	@include border-box;
	float: left;
	width: $menu-width-mobile;
	height: 100%;
	z-index: 1;
	overflow-x: hidden;
	overflow-y: auto;
	-webkit-overflow-scrolling: touch;
	margin-top: 65px;
	margin-left: 1rem;

	@media (max-width: 60em) {
		position: absolute;
		top: 0;
		left: 0;
		transform: translate(-$menu-width-mobile - 30, 0);
		width: $menu-width-mobile;
	}

	@media (min-width: 60em) {
		width: $menu-width-desktop;
		display: block;
	}

	&.fixed {
		@media (min-width: 60em) {
			position: fixed;
			top: 0;
		}
	}

	.f-menu-active & {
		@media (max-width: 60em) {
			transform: translate(-$menu-width-mobile, 0);
			@include transition;
		}
	}
}
