// menu
.f-menu {
	// display: none;
	@include border-box;
	position: absolute;
	left: 15px;
	transform: translate(-$menu-width-mobile, 0);
	width: $menu-width-mobile;
	height: 100%;
	z-index: 1;
	overflow-x: hidden;
	overflow-y: auto;
	-webkit-overflow-scrolling: touch;
	margin-top: 65px;

	@media (min-width: 60em) {
		transform: translate(0, 0);
		width: $menu-width-desktop;
		display: block;
	}

	.f-menu-active & {
		@media (max-width: 60em) {
			/* 250 - 15 padding for mobile */
			width: $menu-width-mobile;
			transform: translate(-$menu-width-mobile, 0);
			@include transition;
		}
	}
}
