// menu

.f-menu-canvas {
	@include mobile {
		top: 0;
		left: 0;
		transform: translate(-$menu-width-mobile - 30, 0);
		-webkit-transform: translate(-$menu-width-mobile - 30, 0);
		-ms-transform: translate(-$menu-width-mobile - 30, 0);
		width: $menu-width-mobile;
		height: 100%;
		overflow-x: hidden;
		overflow-y: auto;
		-webkit-overflow-scrolling: touch;
		padding: 1rem;
		@include transition;
	}

	&.sidebar {
		@include mobile {
			position: absolute;
			width: $menu-width-mobile;
		}
	}

	.f-menu-active & {
		@include mobile {
			transform: translate(0, 0);
			-webkit-transform: translate(0, 0);
			-ms-transform: translate(0, 0);
		}
	}

	.f-nav,
	.f-menu {
		width: $menu-width-mobile;
		z-index: 1;
		overflow: hidden;
		@include border-box;
	}

	.f-nav {
		margin-bottom: 1rem;

		@include desktop {
			display: none;
		}
	}
}

.f-menu {

	@include desktop {
		display: block;
		margin-top: 4.063rem;
		width: $menu-width-desktop;
		max-width: 220px;
	}

	&.fixed {
		@include desktop {
			position: fixed;
			top: 0;
			overflow-y: auto;
			height: 90%;
			padding-bottom: 4.063rem;
		}
	}

	.f-search {
		width: 85%;
	}
}

.form-control.bd-search-results {
	position: absolute;
	width: 85%;
	margin-top: 5px;
	border-color: color(accent);

	&.hide {
		padding: 0;
		border: none;
	}

	a {
		width: 100%;
		font-size: 0.875rem;
		color: map-get($code-colors, dark-gray);

		&:hover {
			color: map-get($code-colors, black);
		}
	}
}
