$settings: (
	theme: light,
	dark: rgba(0, 0, 0, 0.9),
	medium: rgba(0, 0, 0, 0.5),
	light: rgba(0, 0, 0, 0.4),
	accent: #09bcef,
	primary-light: #0073cf,
	primary-dark: #002855,
	border: rgba(0, 0, 0, 0.1),
	menu-width-desktop: 19.841269841269842%,
	menu-width-mobile: 250px,
	content-width: 74.90079365079364%,
	max-width: 1008px,
);

$base-colors: (
	dark: map-get($settings, dark),
	medium: map-get($settings, medium),
	light: map-get($settings, light),
	accent: map-get($settings, accent),
	primary-light: map-get($settings, primary-light),
	primary-dark: map-get($settings, primary-dark),
	border: map-get($settings, border)
);

$theme-dark: (
	menu-background: map-get($base-colors, dark),
	menu-text: map-get($base-colors, light),
	normal: map-get($base-colors, medium)
);

$theme-light: (
	menu-background: #f5f5f5,
	menu-text: map-get($base-colors, medium),
	normal: map-get($base-colors, medium)
);

$theme: $theme-light !default;

@if (map-get($settings, theme) == 'dark') {
	$theme: $theme-dark;
}

$colors: map-merge($base-colors, $theme);

$max-width: map-get($settings, max-width);

$menu-width-desktop: map-get($settings, menu-width-desktop);

$menu-width-mobile: map-get($settings, menu-width-mobile);

$content-width: map-get($settings, content-width);

// functions
@function color($color) {
    @return map-get($colors, $color);
}

//match Bootstrap's BPs
$desktop-size: 768px;
$mobile-size: 767px;

// mixins
@mixin clearfix {
	&:after {
		clear: both;
	}

	&:before,
	&:after {
		display: table;
		content: ' ';
	}
}

@mixin border-box {
	box-sizing: border-box;
}

@mixin transition( $param: all ease .5s ) {
	transition: $param;
	-webkit-transition: $param;
}

@mixin desktop {
	@media screen and ( min-width: $desktop-size ) {
		@content;
	}
}

@mixin mobile {
	@media screen and ( max-width: $mobile-size ) {
		@content;
	}
}
