$settings: (
	theme: light,
	accent: #09bcef,
	menu-width: 14rem
);

$base-colors: (
	dark: rgba(0, 0, 0, 0.9),
	medium: rgba(0, 0, 0, 0.5),
	light: rgba(0, 0, 0, 0.4),
	accent: map-get($settings, accent)
);

$theme-dark: (
	menu-background: map-get($base-colors, dark),
	menu-text: map-get($base-colors, light),
	normal: map-get($base-colors, medium)
);

$theme-light: (
	menu-background: #f5f5f5,
	menu-text: map-get($base-colors, medium),
	normal: map-get($base-colors, medium)
);

$theme: $theme-light !default;

@if (map-get($settings, theme) == 'dark') {
	$theme: $theme-dark;
}

$colors: map-merge($base-colors, $theme);

$menu-width: map-get($settings, menu-width);


// functions
@function color($color) {
    @return map-get($colors, $color);
}


// mixins
@mixin clearfix {
	&:after {
		clear: both;
	}

	&:before,
	&:after {
		display: table;
		content: ' ';
	}
}

@mixin border-box {
	box-sizing: border-box;
}
