@import "scss/button-group";

.btn-group,
.btn-group-vertical {
	@include border-radius($border-radius);

	.btn {
		background-color: $jdrf-white;
		color: $jdrf-blue;
		border-color: $jdrf-blue;
		@include no-elevation;

		&:hover,
		&:active,
		&.active,
		&:focus {
			background-color: $jdrf-blue;
			color: $jdrf-white;
		}
	}

	> .btn:last-child {
		border-top-right-radius: $btn-border-radius;
		border-bottom-right-radius: $btn-border-radius;
	}

	&.btn-icon-group {
		@include elevation-1;

		.btn {
			padding: 0.625rem 1rem;
			font-size: 1.25rem;
			line-height: 1.25rem;
			color: $text-secondary;
			background-color: $jdrf-white;
			border-color: $grey-2;
			border-width: 1px;

			&:hover,
			&:active,
			&.active,
			&:focus {
				background-color: $grey-4;
				border-color: $grey-4;
			}

			&:before {
				display: block;
			}
		}
	}
}

.checkbox-buttons,
.radio-buttons {
	&.btn-group {
		.btn {
			margin-left: 0.25rem;
			margin-right: 0.25rem;
			border-radius: $btn-border-radius;

			&:first-child {
				margin-left: 0;
			}

			&:last-child {
				margin-right: 0;
			}
		}
	}
}