@import 'scss/card';
@import 'scss/list-group';

/* Bootstrap overwrites: card.scss */

.card {
	border-radius: 0 0 $border-radius $border-radius;
	box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.12), 0 0 2px 0 rgba(0, 0, 0, 0.2);
}

// Images
.card-img {
	max-width: 100%;
	border-radius: 0;
}

.card-img-top {
	max-width: 100%;
	border-radius: 0;
}

.card-img-left {
	max-width: 100%;
	border-radius: $border-radius 0 0 $border-radius;
}

.card-img-center {
	display: block;
	margin-left: auto;
	margin-right: auto;
}

// Text
.text-center {
	text-align: center;
}

.text-address {
	font-size: $font-size-lg;
	font-family: $font-medium;
	color: $text-muted;

	strong {
		color: $jdrf-black;
	}
}

.card-text-wrapper {
	p:last-child {
		margin-bottom: 0;
	}
}

.card-title {
	color: $jdrf-blue;
}

// Layout
.card-header {
	font-family: $card-header-font-family;
	font-size: $card-header-font-size;
	line-height: $card-header-line-height;
	color: $text-muted;
	background-color: $jdrf-white;

	&.h1, &.h2, &.h3, &.h4, &.h5, &.h6 {
		margin-bottom: 0;
	}
}

.card-footer {
	border: 0;
	background-color: $jdrf-white;
}

.card-content {
	address {
		font-size: $paragraph-size;

		strong {
			color: $jdrf-black;
		}
	}
}

.card-subtitle {
	font-family: $card-subtitle-font-family;
	font-size: $card-subtitle-font-size;
	line-height: $card-subtitle-line-height;
	color: $text-muted;
}

// Featured card
.card-featured {
	.card-hero-block {
		@if $enable-flex {} @else {
			@include media-breakpoint-up(md) {
				display: table-cell;
				vertical-align: top;
			}
		}

		&-1 {
			@include media-breakpoint-up(md) {
				width: 40%;
			}
		}

		&-2 {
			@include media-breakpoint-up(md) {
				width: 60%;
			}
		}
	}

	.card-img {
		@extend .card-img-center;
	}

	.card-subtitle {
		margin-bottom: 0.75rem;
	}

	.card-header {
		width: 100%;
		@extend .text-center;

		@include media-breakpoint-up(md) {
			text-align: left;
		}
	}

	.card-footer {
		.card-link {
			font-size: $paragraph-size;
		}
	}
}

// Featured card with momentum line mask
.card-featured-hero {
	overflow: hidden;

	> .card-header {
		@include media-breakpoint-up(md) {
			display: none;
		}
	}

	.card-hero-block {
		position: relative;
		z-index: 2;

		> .card-header {
			display: none;

			@include media-breakpoint-up(md) {
				display: block;
			}
		}
	}
}

// Featured card hero with momentum line mask
.card-hero {
	overflow: hidden;
	width: 100%;
	height: 100%;

	&:after {
		content: "";
		position: absolute;
		top: 0;
		right: -35%;
		z-index: 1;
		display: none;
		width: 50%;
		height: 100%;
		transform: skewX(-10deg);
		background-color: $jdrf-white;

		@include media-breakpoint-up(md) {
			display: block;
		}
	}

	img {
		width: 100%;
		height: 100%;
		object-fit: cover;
	}
}

// Hero columns
.card-hero-group {
	@if $enable-flex {
		@include media-breakpoint-up(md) {
			display: flex;
			flex-flow: row wrap;
		}
	} @else {
		@include media-breakpoint-up(md) {
			display: table;
			table-layout: fixed;
		}
	}
}

// Content type Program card
.card-program {
	border-left: 2px solid $jdrf-blue;
	border-radius: $border-radius;
	box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.12);

	@if $enable-flex {
		display: flex;
		flex-flow: row wrap;
	} @else {
		display: table;
		table-layout: fixed;
	}

	.card-block {
		&:nth-child(1) {
			width: 60%;
			border-radius: $border-radius 0 0 $border-radius;

			@if $enable-flex {} @else {
				display: table-cell;
				vertical-align: top;
			}

			@include media-breakpoint-up(md) {
				width: 80%;
			}
		}

		&:nth-child(2) {
			width: 40%;
			border-radius: 0 $border-radius $border-radius 0;
			text-align: right;

			@if $enable-flex {} @else {
				display: table-cell;
				vertical-align: top;
			}

			@include media-breakpoint-up(md) {
				width: 20%;
			}
		}
	}

	.card-subtitle {
		font-size: $paragraph-size;

		@include media-breakpoint-up(md) {
			font-size: $paragraph-size-sm;
		}
	}

	.card-title {
		margin-bottom: 0.25rem;
		font-size: $font-size-h5;
		line-height: $h5-lineheight;

		@include media-breakpoint-up(md) {
			font-size: $font-size-h2;
			line-height: $h2-lineheight;
		}
	}

	.card-location {
		margin-bottom: 0;
		color: $text-secondary;
		font-size: $paragraph-size;

		@include media-breakpoint-up(md) {
			font-size: $paragraph-size-sm;
		}
	}

	.card-category {
		color: $text-secondary;
		font-size: $paragraph-size-x-sm;

		@include media-breakpoint-up(md) {
			font-size: $paragraph-size;
		}
	}
}