@import 'scss/card';
@import 'scss/list-group';

/* Bootstrap overwrites: card.scss */

.card {
	border: 0;
	border-radius: $border-radius;
	@include elevation-1;
}

// Images
.card-img {
	max-width: 100%;
	border-radius: 0;
}

.card-img-top {
	max-width: 100%;
	box-shadow: 0 1px 0 0 rgba(0, 0, 0, 0.12);
}

.card-img-left {
	max-width: 100%;
	border-radius: $border-radius 0 0 $border-radius;
}

.card-img-center {
	display: block;
	margin-left: auto;
	margin-right: auto;
}

// Text
.text-center {
	text-align: center;
}

.text-address {
	font-size: $font-size-md;
	font-family: $font-medium;
	color: $text-muted;

	strong {
		color: $text-primary;
	}
}

.text-address-link {
	.material-icons {
		vertical-align: middle;
		font-size: $font-size-md;
		color: $text-disabled;
	}
}

.card-text-wrapper {
	p:last-child {
		margin-bottom: 0;
	}

	+ .card-block {
		padding-top: 0.5rem;
	}
}

.card-title {
	margin-bottom: 1rem;
	color: $jdrf-dark-blue;
}

.card-subtitle {
	font-family: $card-subtitle-font-family;
	font-size: $card-subtitle-font-size;
	line-height: $card-subtitle-line-height;
	color: $text-muted;

	.material-icons {
		margin-right: 0.5rem;
		vertical-align: middle;
		font-size: 1.25rem;
	}
}

.card-text {
	margin-bottom: 1rem;
}

// Layout
.card-header {
	padding: 0.75rem 1.5rem;
	font-family: $card-header-font-family;
	font-size: $card-header-font-size;
	line-height: $card-header-line-height;
	color: $text-muted;
	background-color: $jdrf-white;
	border-bottom: 1px solid $card-header-border-color;

	&.h1, &.h2, &.h3, &.h4, &.h5, &.h6 {
		margin-bottom: 0;
	}
}

.card-footer {
	border: 0;
	background-color: $jdrf-white;
}

.card-block {
	padding: 1rem;

	&-btns {
		padding: 0.5rem;
	}

	.card-title {
		margin-bottom: 0.5rem;
	}

	.btn {
		&.btn-link {
			margin-right: 0;
			margin-bottom: 0;
		}
	}
}

// List
.list-group-item {
	.card & {
		padding: 1rem;
	}
}

// Featured card
.card-featured {
	.card-hero-block {
		@if $enable-flex {} @else {
			@include media-breakpoint-up(md) {
				display: table-cell;
				vertical-align: top;
			}
		}

		&-1 {
			padding-bottom: 0;

			@include media-breakpoint-up(md) {
				width: 42.995%;
				padding: 1.5rem 0 2rem 1.5rem;
			}
		}

		&-2 {
			@include media-breakpoint-up(md) {
				width: 57.005%;
				padding: 1.5rem 1.5rem 2rem;
			}
		}
	}

	.card-img {
		width: 100%;
		height: auto;
		@extend .card-img-center;
		border: 1px solid $text-dividers;
	}

	.card-title {
		@include media-breakpoint-up(md) {
			margin-bottom: 1rem;
		}
	}

	.card-subtitle {
		margin-bottom: 0.75rem;

		+ .btn {
			margin-top: 0.25rem;
		}
	}

	.card-header {
		width: 100%;
		border: none;
		box-shadow: 0px 1px 0px 0px $card-header-border-color;
		@extend .text-center;

		@include media-breakpoint-up(md) {
			text-align: left;
		}
	}

	.card-footer {
		.card-link {
			font-size: $paragraph-size;
		}
	}
}

// Featured card hero with momentum line
.card-featured-hero {
	@include media-breakpoint-up(md) {
		height: 440px;
	}

	@include media-breakpoint-up(lg) {
		height: 340px;
	}

	@include media-breakpoint-up(xl) {
		height: 330px;
	}

	.card-header {
		padding-left: 0;
		padding-top: 1rem;
		padding-bottom: 1rem;
	}

	.card-subtitle {
		margin-bottom: 1rem;
	}

	.card-content-wrapper {
		height: 100%;
		overflow: hidden;

		.card-hero-block-left,
		.card-hero-block-right {
			background-color: $jdrf-white;

			@include media-breakpoint-up(md) {
				position: relative;
				width: 50%;
				height: 100%;
			}
		}

		.card-hero-block-left {
			@include media-breakpoint-up(md) {
				float: left;
			}

			.card-hero-bg {
				width: 100%;
				height: 100%;
				background-size: cover;
				background-repeat: no-repeat;
				background-position: 50% 50%;

				@include media-breakpoint-up(md) {
					background-image: none;
					border-top-left-radius: $border-radius;
					border-bottom-left-radius: $border-radius;
				}

				img {
					width: 100%;
					height: auto;
				}
			}

			&:after {
				content: "";
				position: absolute;
				top: 0;
				z-index: 1;
				display: none;
				width: 100%;
				height: 100%;
				transform: skewX(-10deg);
				background-color: $jdrf-white;

				@include media-breakpoint-up(md) {
					display: block;
					right: -62%;
				}

				@include media-breakpoint-up(lg) {
					right: -75%;
				}

				@include media-breakpoint-up(xl) {
					right: -87%;
				}
			}
		}

		.card-hero-block-right {
			@include media-breakpoint-up(md) {
				z-index: 10;
				float: right;
				border-top-right-radius: $border-radius;
				border-bottom-right-radius: $border-radius;
			}

			.card-block {
				padding-top: 1rem;
				padding-bottom: 0;

    			@include media-breakpoint-up(md) {
    				padding-top: 2.5rem;
    				padding-left: 0;
    			}
			}
		}
	}

	.card-footer {
		position: relative;
		padding: 0 1rem 1.375rem;

		@include media-breakpoint-up(md) {
			padding-left: 0;
		}

		.btn {
			@include media-breakpoint-up(md) {
				position: absolute;
				top: 0;
				left: -9px;
			}
		}
	}
}

// Hero columns
.card-hero-group {
	@if $enable-flex {
		@include media-breakpoint-up(md) {
			display: flex;
			flex-flow: row wrap;
		}
	} @else {
		@include media-breakpoint-up(md) {
			display: table;
			table-layout: fixed;
		}
	}

	.card-footer {
		padding: .25rem 0 0;
	}
}

// Image cap card
.card-image-cap {
	.card-subtitle {
		padding-bottom: 0.375rem;
	}
}

// Content card
.card-content {
	.card-block {
		padding: 1.5rem;
	}

	.card-footer {
		padding-top: 0.5rem;
		padding-bottom: 2rem;
	}

	address {
		font-size: $paragraph-size;

		strong {
			color: $jdrf-black;
		}
	}
}

// Content type Program card
.card-program {
	border-left: 4px solid $jdrf-blue;
	border-radius: $border-radius;
	@include elevation-1;

	@if $enable-flex {
		display: flex;
		flex-flow: row wrap;
	} @else {
		display: table;
		table-layout: fixed;
	}

	.card-block {
		&-1 {
			width: 60%;
			padding-left: 1.75rem;
			border-radius: $border-radius 0 0 $border-radius;

			@if $enable-flex {} @else {
				display: table-cell;
				vertical-align: top;
			}

			@include media-breakpoint-up(md) {
				width: 80%;
			}
		}

		&-2 {
			width: 40%;
			border-radius: 0 $border-radius $border-radius 0;
			text-align: right;

			@if $enable-flex {} @else {
				display: table-cell;
				vertical-align: top;
			}

			@include media-breakpoint-up(md) {
				width: 20%;
			}
		}
	}

	.card-subtitle {
		margin-top: 0;
		margin-bottom: 0.5rem;
		font-size: $paragraph-size;

		@include media-breakpoint-up(md) {
			font-size: $paragraph-size-sm;
		}
	}

	.card-title {
		margin-bottom: 0.5rem;
		font-size: $font-size-h5;
		line-height: $h5-lineheight;

		@include media-breakpoint-up(md) {
			font-size: $font-size-h2;
			line-height: $h2-lineheight;
		}
	}

	.card-location {
		margin-bottom: 0;
		color: $text-secondary;
		font-size: $paragraph-size;

		@include media-breakpoint-up(md) {
			font-size: $paragraph-size-sm;
		}

		.material-icons {
			font-size: 1rem;
		}
	}

	.card-category {
		color: $text-secondary;
		font-size: $paragraph-size-x-sm;

		@include media-breakpoint-up(md) {
			font-size: $paragraph-size;
		}
	}
}
