/* Design System Custom - No Bootstrap Default */

@import "mixins/elevations";

.elevation-1 {
	@include elevation-1;
}

.elevation-2 {
	@include elevation-2;
}

.elevation-3 {
	@include elevation-3;
}

.elevation-4 {
	@include elevation-4;
}

.elevation-5 {
	@include elevation-5;
}