/* Design System Custom - No Bootstrap Default */

$fonts:
	'Gotham Thin' '../fonts/gotham/thin/gotham-thin-webfont'           100 normal 'gothamthin',
	'Gotham Light' '../fonts/gotham/light/gotham-light-webfont'         200 normal 'gothamlight',
	'Gotham Light Italic' '../fonts/gotham/light/gotham-lightitalic-webfont'   200 italic 'gothamlight_italic',
	'Gotham Book' '../fonts/gotham/book/gotham-book-webfont'           300 normal 'gothambook',
	'Gotham Book Italic' '../fonts/gotham/book/gotham-bookitalic-webfont'     300 italic 'gothambook_italic',
	'Gotham Medium' '../fonts/gotham/medium/gotham-medium-webfont'       500 normal 'gothammedium',
	'Gotham Medium Italic' '../fonts/gotham/medium/gotham-mediumitalic-webfont' 500 italic 'gothammedium_italic',
	'Gotham Bold' '../fonts/gotham/bold/gotham-bold-webfont' 700 italic 'gothambold';

@each $font in $fonts {
	@font-face {
		font-family: nth($font, 1);
		src: url(nth($font, 2) + '.eot');
		src: url(nth($font, 2) + '.eot?#iefix') format('embedded-opentype'),
				 url(nth($font, 2) + '.woff2') format('woff2'),
				 url(nth($font, 2) + '.woff') format('woff'),
				 url(nth($font, 2) + '.ttf') format('truetype'),
				 url(nth($font, 2) + '.svg#' + nth($font, 5)) format('svg');
		font-weight: nth($font, 3);
		font-style:  nth($font, 4);
	}
}