@import "scss/forms";

/* Bootstrap overwrites: forms.scss */

.form-inline {
	.form-group {
		margin-bottom: 1rem;
		width: 100%;

		@include media-breakpoint-up(md) {
			width: auto;
		}
	}

	.form-control {
		display: block;
		width: 100%;

		@include media-breakpoint-up(md) {
			display: inline-block;
			width: auto;
		}
	}
}

.form-control {
	line-height: $font-size-base;
}

.form-control-label {
	font-family: $font-medium;
	font-size: $input-label-font-size;
	line-height: $input-label-line-height;
	color: $input-label-color;
}

label {
	.disabled &,
	&.disabled {
		color: $grey-6;
	}
}

.radio-inline + .radio-inline {
	margin-left: 1.5rem;
}

.checkbox-inline + .checkbox-inline {
	margin-left: 1.688rem;
}

.radio-custom {
	position: relative;

	input[type="radio"] {
		opacity: 0;
		margin-right: 0.75rem;
	}

	.radio-custom-label:before {
		position: absolute;
		top: 1px;
		left: -4px;
		display: inline-block;
		font-family: 'Material Icons';
		font-size: 1.5rem;
		line-height: 1.5rem;
		width: 24px;
		height: 24px;
	}

	input[type="radio"] ~ .radio-custom-label:before {
		content: "\e836";
	}

	input[type="radio"]:checked ~ .radio-custom-label:before {
		content: "\e837";
	}
}
