@import "scss/forms";

/* Bootstrap overwrites: forms.scss */

.form-inline {
	&:not(.ds-row) {
		.form-group {
			@include media-breakpoint-up(md) {
				width: auto;
			}
		}
	}

	.form-group {
		margin-bottom: 1rem;
		display: block;

		@include media-breakpoint-up(md) {
			display: inline-block;
		}
	}

	.form-control {
		width: 100%;
	}
}

.form-group {
	position: relative;
	margin-bottom: 0.75rem;
}

textarea {
	&.form-control {
		min-height: 144px;
		resize: vertical;
	}
}

.form-control-label {
	font-family: $font-medium;
	font-size: $input-label-font-size;
	line-height: $input-label-line-height;
	color: $input-label-color;
	padding: 0.25rem 0;
	@include clearfix();

	fieldset & {
		width: 100%;
	}

	.disabled &,
	&.disabled {
		background-color: $grey-1;
		border-color: $grey-4;
	}

	.has-filled &,
	.has-success &  {
		font-family: $font-regular;
		color: $grey-7;
	}

	fieldset:disabled & {
		color: $grey-6;
	}

	> span {
		font-family: $font-italic;
		font-style: italic;
		color: $grey-7;
		float: right;
	}
}

.form-control {
	//normal line-height vertically aligns placeholder in Safari
	line-height: normal;

	&:not(textarea) {
		height: 54px;
	}

	fieldset & {
		margin-top: 28px;
		margin-bottom: 4px;
	}

	fieldset:disabled & {
		border-color: $grey-4;
	}

	.hidden-labels & {
		margin-top: 0;
	}

	.has-filled &,
	.has-success & {
		border-color: $grey-4;
	}

	&:focus {
		border-color: $input-border-focus;
	}
}

.form-control:focus ~ .form-control-label {
	font-family: $font-medium;
	color: $input-border-focus;
}

label {
	display: block;

	&.form-control-label {
		position: absolute;
		top: 0;
		left: 0;
	}

	.disabled &,
	&.disabled {
		color: $grey-6;

		.has-danger &,
		.has-success & {
			color: $grey-6;
		}
	}

	&.checkbox-custom {
		&:not(.ds-disabled) {
			.has-danger &,
			.has-success & {
				color: $jdrf-black;
			}
		}
	}
}

.text-help,
.text-label {
	font-family: $font-medium;
	font-size: $input-label-font-size;
}

p.text-label {
	margin-bottom: 1rem;
}

.text-label {
	.has-danger & {
		color: $brand-danger;
	}

	.has-success & {
		color: $brand-success;
	}

	span {
		font-family: $font-regular;
		color: $grey-7;
	}
}

.radio-inline + .radio-inline,
.checkbox-inline + .checkbox-inline {
	margin-left: 0;

	@include media-breakpoint-up(md) {
		margin-left: 1.5rem;
	}
}

.radio-inline {
	margin-bottom: .5rem;
}

.checkbox-inline {
	margin-bottom: .75rem;
}

.radio-inline,
.checkbox-inline {
	display: block;
	margin-left: 0;
	padding-left: 0;

	@include media-breakpoint-up(md) {
		padding-left: 0;
		display: inline-block;
	}
}

.radio-custom,
.checkbox-custom {
	position: relative;

	input[type="radio"],
	input[type="checkbox"] {
		position: absolute;
		top: 0;
		left: 0;
		opacity: 0;
		margin: 0;
		padding: 0;
	}

	span {
		position: relative;
		padding-left: 2rem;
		text-align: left;
		cursor: pointer;
	}

	input[type="radio"] ~ span:before,
	input[type="checkbox"] ~ span:before {
		position: absolute;
		top: -2px;
		left:  0;
		width: 24px;
 	 	height: 24px;
 		font-family: 'Material Icons';
		font-size: 24px;
 		line-height: 24px;
 		color: $grey-7;
 		cursor: pointer;
	}

	input[type="radio"]:checked ~ span:before,
	input[type="checkbox"]:checked ~ span:before {
		color: $jdrf-blue;
	}

	&.disabled {
		input[type="radio"] ~ span:before,
		input[type="checkbox"] ~ span:before {
			color: $grey-6;
			cursor: $cursor-disabled;
		}
	}
}

.radio-custom {
	input[type="radio"] ~ span:before {
 		content: "\e836";
	}

	input[type="radio"]:checked ~ span:before  {
		content: "\e837";
	}

	input[type="radio"]:focus ~ span:before {
		box-shadow: 0 0 6px 0 rgba(0,115,207,.75),inset 0 0 3px 0 rgba(0,115,207,.25);
		border-radius: 50%;
	}
}

.checkbox-custom {
	input[type="checkbox"] ~ span:before  {
		content: "\e835";
	}

	input[type="checkbox"]:checked ~ span:before  {
		content: "\e834";
	}

	input[type="checkbox"]:focus ~ span:before {
		box-shadow: 0 0 6px 0 rgba(0,115,207,.75),inset 0 0 3px 0 rgba(0,115,207,.25);
	}
}

/*
* Place icons before "fake" labels in validation
* Checkbox groups
*/
.checkbox-group {
	.text-help {
		margin-bottom: 1rem;
	}

	&.has-danger,
	&.has-success {
		.text-help {
			position: relative;
			padding-left: 2rem;
			background-repeat: no-repeat;
			background-position: center left;
			background-size: 1.4625rem;
		}
	}

	&.has-danger {
		.text-help {
			background-image: url($form-icon-danger);
		}
	}

	&.has-success {
		.text-help {
			background-image: url($form-icon-success);
		}
	}
}

.form-address {
	[class*="ds-col-"] {

		.form-control-label {
			padding-left: 0.9375rem;
			padding-right: 0.9375rem;
		}
	}

	div[class*="ds-col-"] {
		position: static;

		@include media-breakpoint-up(md) {
			position: relative;
		}
	}
}