@import "scss/forms";

/* Bootstrap overwrites: forms.scss */

.form-inline {
	.form-group {
		margin-bottom: 1rem;
		width: 100%;

		@include media-breakpoint-up(md) {
			width: auto;
		}
	}

	.form-control {
		display: block;
		width: 100%;

		@include media-breakpoint-up(md) {
			display: inline-block;
			width: auto;
		}
	}
}

.form-control {
	line-height: $font-size-base;
}

.form-control-label {
	font-family: $font-medium;
	font-size: $input-label-font-size;
	line-height: $input-label-line-height;
	color: $input-label-color;
}

label {
	.disabled &,
	&.disabled {
		color: $grey-6;
	}
}

.radio-inline + .radio-inline {
	margin-left: 1.5rem;
}

.checkbox-inline + .checkbox-inline {
	margin-left: 1.688rem;
}

.radio-inline,
.checkbox-inline {
	padding-left: 0;
}

.radio-custom {
	position: relative;

	input[type=radio] {
		position: absolute;
		top: 0;
		left: 0;
		opacity: 0;
	}

	input[type=radio], span:before {
		display: inline-block;
		vertical-align: bottom;
	}

	input[type=radio] ~ span:before {
		width: 24px;
 		height: 24px;
 		content: "\e836";
 		margin-right: 0.75rem;
 		font-family: 'Material Icons';
 		font-size: 1.5rem;
 		line-height: 1.5rem;
 		color: $grey-7;
	}

	input[type=radio]:checked ~ span:before  {
		content: "\e837";
		color: $jdrf-blue;
	}

	&.disabled {
		input[type=radio] ~ span:before {
			color: $grey-6;
		}
	}
}