@import "scss/nav";

/* Bootstrap overwrites: nav.scss */

.sidebar {
	width: 260px;

	.nav-item {
		.nav-link {
			font-family: $font-medium;
			border-left: 2px solid $grey-4;
			padding: 16px 0 16px 24px;
			width: 100%;
			color: $text-default;
			/* temporary until we get fonts in */
			font-size: 14px;
			line-height: 14px;

			&:hover {
				background-color: $grey-2;
				color: $brand-primary;
			}

			&.current {
				border-color: $brand-primary;
			}
		}

		> .nav {
			.nav-link {
				padding-left: 40px;
				font-family: $font-regular;
			}
		}
	}
}