@import "scss/variables";

/* Variable overwrite naming conventions are based on Bootstrap.
*
* If overwriting an existing Bootstrap var, keep the same name.
*
* If creating a new variable related to an original Bootstrap var,
* keep the variable name from Bootstrap, and append to that name.
*
* Example:
* $font-size = original Bootstrap variable (still in use)
* $font-size-lg = custom variable based on the above
* $font-size-sm = custom variable based on the above
*/

/* == Grid ======== */

$grid-breakpoints: (
	xs: 0,
	sm: 360px,
	md: 768px,
	lg: 992px,
	xl: 1200px
);

$container-max-widths: (
  sm: 576px,
  md: 720px,
  lg: 940px,
  xl: 1088px
);

/* == Colors ======== */

$jdrf-blue: #0073cf;
$jdrf-dark-blue: #002855;

$jdrf-green: #00a862;
$jdrf-purple: #a75ccc;
$jdrf-magenta: #e01279;
$jdrf-orange: #fa6323;
$jdrf-white: #ffffff;
$jdrf-black: #212121;

$accent-blue: #09bcef;
$accent-green: #8cd600;
$accent-orange: #fcd116;

$pro-walk: $jdrf-orange;
$pro-ride: $jdrf-green;
$pro-diy: $jdrf-magenta;
$pro-gala: #6e267b;
$pro-peak: #aa72bf;
$pro-golf: #5b6334;
$pro-voice:#fdb823;

$grey-1: #fafafa;
$grey-2: #f5f5f5;
$grey-3: #eeeeee;
$grey-4: #e0e0e0;
$grey-5: #bdbdbd;
$grey-6: #9e9e9e;
$grey-7: #757575;

$text-primary: $jdrf-black;
$text-secondary: $grey-7;
$text-disabled: $grey-6;
$text-dividers: $grey-4;

$text-reverse-primary: $jdrf-white;
$text-reverse-secondary: rgba(255, 255, 255, 0.76);
$text-reverse-disabled: rgba(255, 255, 255, 0.50);

$gray-dark: $grey-7;
$gray: $grey-5;
$gray-light: $grey-3;
$gray-lighter: $grey-2;
$gray-lightest: $grey-1;

$brand-primary: $jdrf-blue;
$btn-primary-bg: $jdrf-blue;
$btn-primary-border: $jdrf-blue;

$btn-secondary-color: $jdrf-white;
$btn-secondary-bg: $jdrf-blue;
$btn-secondary-border: $jdrf-blue;

$link-hover-color: $jdrf-blue;
$btn-link-disabled-color: $grey-6;

$label-default-bg: $grey-6;

/* == Fonts ======== */

$text-default: $text-primary;
$text-muted: $text-secondary;

$font-thin: "Gotham Thin", sans-serif;
$font-light: "Gotham Light", sans-serif;
$font-light-italic: "Gotham Light Italic", sans-serif;
$font-regular: "Gotham Book", sans-serif;
$font-italic: "Gotham Book Italic", sans-serif;
$font-medium: "Gotham Medium", sans-serif;
$font-medium-italic: "Gotham Medium Italic", sans-serif;
$font-bold: "Gotham Bold", sans-serif;
$font-bold-italic: "Gotham Bold Italic", sans-serif;

$font-family-base: $font-regular;

$font-size-sm: 0.8125rem; /* 13px */
$line-height-sm: 0.8125rem; /* 13px */
$font-size-md: 0.875rem; /* 14px */
$line-height-md: 0.875rem; /* 14px */
$font-size-base: 1rem; /* 16px */
$line-height-base: 1rem; /* 16px */
$font-size-lg: 1.125rem; ; /* 18px */
$line-height-lg: 1.125rem; ; /* 18px */

$display1-size: 3.5rem; /* 56px */
$display1-size-md: 3.75rem; /* 60px */
$display1-size-lg: 4.5rem;  /* 72px */

$display2-size: 3rem; /* 48px */
$display2-size-md: 3.5rem; /* 56px */
$display2-size-lg: 3.75rem;  /* 60px */

$lead-font-size: 1rem;
$lead-line-height: 1.5rem;

$lead-font-size-sm: 1.125rem;

$lead-font-size-md: 1.25rem;
$lead-line-height-md: 1.75rem;

$paragraph-size-x-sm: 0.75rem; /* 12px */
$paragraph-lineheight-x-sm: 1.125rem; /* 18px */

$paragraph-size: 0.875rem; /* 14px */
$paragraph-lineheight: 1.25rem; /* 20px */

$paragraph-size-sm: 1rem; /* 16px */
$paragraph-lineheight-sm: 1.5rem; /* 24px */

/* Headings: Mobile sizes, SM/MD up */
$headings-font-weight: 400;

$font-size-h1: 2rem; /* 32px */
$font-size-h1-sm: 2.25rem; /* 36px */
$font-size-h1-md: 3rem; /* 48px */

$font-size-h2: 1.5rem; /* 24px */
$font-size-h2-sm: 1.75rem; /* 28px */
$font-size-h2-md: 2.25rem; /* 36px */

$font-size-h3: 1.25rem; /* 20px */
$font-size-h3-sm: 1.5rem; /* 24px */

$font-size-h4: 1.25rem;
$font-size-h5: 1rem;
$font-size-h6: 0.875rem;

$h1-lineheight: 2.25rem; /* 36px */
$h1-lineheight-sm: 2.5rem; /* 40px */
$h1-lineheight-md: 3.5rem; /* 56px */

$h2-lineheight: 1.75rem; /* 28px */
$h2-lineheight-sm: 2rem; /* 32px */
$h2-lineheight-md: 2.5rem; /* 40px */

$h3-lineheight: 1.75rem; /* 28px */

$h4-lineheight: 1.75rem;
$h5-lineheight: 1.5rem;
$h6-lineheight: 1.25rem;

/* == Buttons ======== */

$btn-font: $font-medium;
$btn-font-transform: uppercase;
$btn-font-size: 0.875rem; /* 14px */
$btn-line-height: 0.875rem; /* 14px */

$btn-block-y: 0.75rem; /* 12px */
$btn-block-x: 0.75rem; /* 12px */

$btn-padding-x: 1rem; /* 16px */
$btn-padding-y: 0.75rem; /* 12px */
$btn-padding-y-lg: 1rem; /* 16px */
$btn-padding-x-lg: 1.5rem; /* 24px */
$btn-padding-y-sm: 0.5rem; /* 8px */
$btn-padding-x-sm: 0.75rem; /* 12px */

/* Border radius at 2px */
$border-radius: 2px;
$border-radius-lg: 2px;
$border-radius-sm: 2px;
$btn-border-radius: $border-radius;
$btn-border-radius-lg: $border-radius;
$btn-border-radius-sm: $border-radius;

/* Border width at 2px */
$input-btn-border-width: 1px;
$input-btn-border-width-lg: 2px;

/* Cards */
$card-spacer-y: 0.625rem;
$card-spacer-x: 1.5rem;
$card-header-font-size: 1rem;
$card-header-line-height: 1rem;
$card-header-font-family: $font-medium;
$card-header-border-color: $grey-4;
$card-subtitle-font-size: 0.875rem;
$card-subtitle-line-height: 1.25rem;
$card-subtitle-font-family: $font-medium;

/* == Forms ======== */

$input-border-color: $grey-7;
$input-border-radius: 2px;
$input-padding-y: 16px;
$input-padding-x: 12px;
$input-color: $jdrf-black;
$input-color-placeholder: $grey-6;
$input-label-font-size: 0.9375rem;
$input-label-line-height: 1.25rem;
$input-label-color: $jdrf-black;
$input-border-focus: $jdrf-blue;
$brand-success: #009456;
$brand-danger: #d7006d;
$input-bg-disabled: $grey-1;

$form-icon-success: "data:image/svg+xml;charset=utf-8;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHdpZHRoPSIyNCIgaGVpZ2h0PSIyNCIgdmlld0JveD0iMCAwIDI0IDI0IiBpZD0iaWNfY2hlY2tfMjRweCI+PHBhdGggZD0iTTkgMTYuMTdMNC44MyAxMmwtMS40MiAxLjQxTDkgMTkgMjEgN2wtMS40MS0xLjQxeiIgZmlsbD0iIzAwOTQ1NiIvPjwvc3ZnPg==";
$form-icon-danger: "data:image/svg+xml;charset=utf-8;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHdpZHRoPSIyNCIgaGVpZ2h0PSIyNCIgdmlld0JveD0iMCAwIDI0IDI0IiBpZD0iaWNfZXJyb3JfMjRweCI+PHBhdGggZD0iTTEyIDJDNi40OCAyIDIgNi40OCAyIDEyczQuNDggMTAgMTAgMTAgMTAtNC40OCAxMC0xMFMxNy41MiAyIDEyIDJ6bTEgMTVoLTJ2LTJoMnYyem0wLTRoLTJWN2gydjZ6IiBmaWxsPSIjZTAxMjc5Ii8+PC9zdmc+";