/**
 * Overwrite files that import Bootstrap components individually
 */

// Core variables and mixins
@import 'variables';
@import 'mixins';

// Core variables and mixins overwrites
@import 'mixins/border-radius';
@import 'mixins/buttons';
@import 'mixins/elevations';

// Reset and dependencies
@import 'normalize';

// Core CSS
@import 'reboot';
@import 'fonts';
@import 'type';
@import 'grid';
@import 'forms';
@import 'buttons';
@import 'button-group';
@import 'elevations';

// Components
@import 'nav';

// Utility classes
@import 'utilities';
@import 'utilities-background';
@import 'utilities-spacing';
@import 'utilities-responsive';

