<!doctype html>
<html lang="">
<head>

	<meta charset="utf-8">
	<meta http-equiv="x-ua-compatible" content="ie=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1">

	<title>{{title}}</title>

	{{#if fabricator}}<link rel="stylesheet" href="./{{baseurl}}/assets/fabricator/styles/f.css">{{/if}}

	<!-- toolkit styles -->
	<link rel="stylesheet" href="./{{baseurl}}/assets/toolkit/styles/toolkit.css">
	<!-- /toolkit styles -->

	{{#local}}
	<link rel="stylesheet" href="./{{baseurl}}/design-system/dist/style.css">
	{{else}}
	<!-- bootstrap styles -->
	<link rel="stylesheet" href="./{{baseurl}}/assets/bootstrap/styles/bootstrap.css">
	<!-- /bootstrap styles -->
	{{/local}}


</head>
<body>

	{{#if fabricator}}
		{{> f-icons}}
		{{#if deeplink}}
			{{> f-menu-deeplink}}
		{{else}}
			{{> f-menu}}
		{{/if}}
		<div class="f-container">
			{{> f-header}}
			{{> f-control-bar}}
	{{/if}}


	{% body %}


	{{#if fabricator}}
		</div>
	<script src="./{{baseurl}}/assets/fabricator/scripts/f.js"></script>
	{{/if}}

	<!-- toolkit scripts -->
	<script src="./{{baseurl}}/assets/toolkit/scripts/toolkit.js"></script>
	<!-- /toolkit scripts -->

	<!-- bootstrap scripts -->
	<script src="./{{baseurl}}/assets/bootstrap/scripts/bootstrap.js"></script>
	<!-- /bootstrap scripts -->
</body>
</html>
